<div class="form-container">
    <form [formGroup]="customAchievementGroup">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Rareza</mat-label>
                <mat-select formControlName="rarity">
                  <mat-option *ngFor="let option of rarityOptions" [value]="option.value">
                    <div class="option">
                        <img [src]="'../../../../assets/medals/' + option.value + '.png'">
                        <h4 [style.color]="'var(--color-' + option.value + ')'">{{ option.displayValue }}</h4>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customAchievementGroup.get('rarity').invalid">El campo es requerido</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category" [disabled]="achievementId">
                  <mat-option *ngFor="let option of categoryOptions" [value]="option.value">
                    {{ option.displayValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customAchievementGroup.get('category').invalid">El campo es requerido</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="customAchievementGroup.get('category').value">
            <mat-form-field appearance="fill">
                <mat-label>{{ customAchievementGroup.get('category').value == 'games' ? "Juegos" : "Cursos" }}&nbsp;(título)</mat-label>
                <mat-select formControlName="title" [disabled]="achievementId">
                  <mat-option *ngFor="let option of titleOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customAchievementGroup.get('title').invalid">El campo es requerido</mat-error>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="customAchievementGroup.get('title').value">
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" placeholder="Escriba una descripción..." autocomplete="off">
                <mat-error *ngIf="customAchievementGroup.get('title').invalid">El campo es requerido</mat-error>
            </mat-form-field>
        </div>
    </form>

    <div class="buttons">
        <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="accent" (click)="saveAchievement()" [disabled]="customAchievementGroup.invalid">Aceptar</button>
    </div>
</div>