$image-size: 24px;

form {
    .mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .mat-form-field:nth-child(2) {
            margin-left: 1rem;
        }
    }
}

.buttons {
    button:first-child {
        margin-right: 1rem;
    }
}

.mat-option {
    .option {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        img {
            width: $image-size;
            height: $image-size;
            margin-right: 1rem;
        }
    
        h4 {
            font-weight: 100;
            margin: 0;
        }
    }
}