.sectors-container {
    display: grid;
    gap: 1rem;
}
  
.new-sector {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.4;
        user-select: none;

        i {
        margin: auto 10px auto 0;
        }

        h2 {
        margin-top: 0;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.sector-list {
    justify-content: center;
    text-align: center;
}

.adding-sector {
    text-align: center;

    mat-form-field {
        width: 50%;
    }
}
