<div class="sectors-container">

    <mat-card class="new-sector" (click)="newSector()">
        <mat-card-content>
            <h2>  </h2>
            <i class="fas fa-plus"></i>
            <h2>Agregar sector</h2>
        </mat-card-content>
    </mat-card>

    <mat-list class="sector-list">
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let sector of sectors">
            <div mat-line>{{sector.nombre}}</div>
            <button mat-icon-button (click)="edit(sector)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(sector)">
                <mat-icon>delete</mat-icon>
            </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    
    <div *ngIf="(adding | async)" class="adding-sector">
        <form autocomplete="off">
            <mat-form-field>
                <mat-label>Nombre sector</mat-label>
                <input id="input" matInput [formControl]="nameFormControl">
                <mat-error *ngIf="nameFormControl.invalid">Por favor, ingrese el nombre del sector</mat-error>
            </mat-form-field>
            <button mat-icon-button (click)="save()"><mat-icon>done</mat-icon></button>
            <button mat-icon-button (click)="cancel()"><mat-icon>close</mat-icon></button>
        </form>
    </div>
    
</div>
