@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
}

.game-start {
    @include flex-center();
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--color-primary);
    user-select: none;
    border-radius: 10px;
}

.game-start:hover {
    opacity: 0.8;
    cursor: pointer;
}

.game-start > h3 {
    color: var(--color-accent);
}

.game-play {
    @include flex-center();
    width: 100%;
}

.question {
    margin-top: 1rem;
    width: 100%;
    user-select: none;
}

.question > mat-card {
    transition: background-color 0.25s ease-in;
    padding: 25px;
}

.question > mat-card > mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.25s ease-in;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.answers {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: 1rem;
}

.score-board {
    width: 100%;
    user-select: none;
}

.score-board > mat-card {
    transition: background-color 0.25s ease-in;
    margin-bottom: 1rem;
}

.score-board > mat-card > mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in;
}

.final-score {
    font-size: 72px;
    color: var(--color-primary);
}

#playagain {
    width: 100%;
    font-size: 24px;
    padding: 10px;
}

@media(max-width: 599px) {
    .answers {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}