<div *ngIf="trivia != undefined" class="trivia-container">
    <div *ngIf="getGameState() == 'menu'" class="game-start" (click)="startGame()">
        <h1>{{ trivia.title }}</h1>
        <h3>¡Haga clic para empezar!</h3>
    </div>

    <div [style.display]="getGameState() == 'started' ? 'flex' : 'none'" class="game-play">
        <app-counter #counter [initialCount]="timer" [diameter]="96" (timeout)="nextQuestion()"></app-counter>
        <div class="question">
            <mat-card>
                <mat-card-content>
                    <h1>{{ trivia.questions[currentQuestionIndex].question }}</h1>
                    <h1>{{ (currentQuestionIndex + 1) + '/' + trivia.questions.length}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="answers">
            <ng-container *ngFor="let answer of trivia.questions[currentQuestionIndex].answers">
                <app-answer-card #answercard (clicked)="answerQuestion(answer)" [answer]="answer"></app-answer-card>
            </ng-container>
        </div>
    </div>

    <div *ngIf="getGameState() == 'finished'" class="score-board">
        <mat-card>
            <mat-card-content>
                <h1 style="margin-bottom: 1rem;">¡Fin del juego!</h1>
                <h2 style="margin-bottom: 1rem;">Puntaje final:</h2>
                <h1 class="final-score">{{ finalScore }}</h1>
            </mat-card-content>
        </mat-card>
        <div>
            <button id="playagain" mat-raised-button color="accent" (click)="playAgain()">Volver a jugar&nbsp;<mat-icon>refresh</mat-icon></button>
        </div>
    </div>
</div>
