$image-size: 150px;

.new-game-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100%;
    width: 100%;
}

.game {
    grid-column: span 2;
}