.trivia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

form {
    position: relative;
    width: 100%;
    color: rgb(var(--color-text));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.mat-form-field {
    font-size: 1.17em;
    font-weight: 200;
    width: 100%;
    margin-bottom: 1rem;
}

.mat-form-field:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
}

h3 {
    font-weight: 200;
}

.question-container {
    position: relative;
}

.question-container > button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.mat-nav-list {
    user-select: none;
}

.mat-nav-list > a:first-child {
    opacity: 0.6;
}

.mat-list-base {
    padding: 0;
}

// El que descubre como corregir el ripple del primer item de la lista (se ve mas clarito) se gana un premio
::ng-deep.mat-ripple {
    opacity: 1;
}

#done {
    font-size: 1.17em;
    font-weight: 200;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

mat-card {
    padding: 0;
    transition: background-color 0.25s ease-in;
}

mat-card-content {
    padding: 0;
    transition: background-color 0.25s ease-in;
}