<div class="trivia-container">
    <form [formGroup]="triviaForm" autocomplete="off">

        <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="triviaForm.get('title').invalid">Por favor, ingrese el título</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="triviaForm.get('description').invalid">Por favor, ingrese la descripción</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sector</mat-label>
            <mat-select matInput formControlName="sector" required>
                <mat-option *ngFor="let s of sectorList" [value]="s.value" >{{ s.description }}</mat-option>
            </mat-select>
            <mat-error *ngIf="triviaForm.get('sector').invalid">Por favor, ingrese el sector al que pertenece la trivia</mat-error>
        </mat-form-field>  

        <h3>Preguntas</h3>
        <mat-card>
            <mat-card-content>
                <mat-nav-list>
                    <a mat-list-item (click)="addQuestion()">
                        <mat-icon>add</mat-icon>&nbsp;Agregar pregunta
                    </a>
                    <ng-container *ngFor="let question of questions; let i=index">
                        <mat-divider></mat-divider>
                        <div class="question-container">
                            <a mat-list-item (click)="editQuestion(question)">
                                {{ i+1 }}.&nbsp;{{ question.question }}
                            </a>
                            <button mat-icon-button color="warn" (click)="deleteQuestion(question)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </ng-container>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>    

        <button id="done" mat-raised-button color="accent" [disabled]="triviaForm.invalid || questions.length == 0" (click)="done()">
            ¡Listo!&nbsp;
            <!-- <mat-icon [inline]="true">check</mat-icon> -->
        </button>
    </form>
</div>
