.change-password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.title-container {
    font-size: 20px
}

.card-container {
    width: 450px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
}

::ng-deep.cdk-overlay-container {
    background-color: transparent;
}