<div class="change-password-container">
    <mat-card class="card-container">
        <mat-card-title class="title-container">
            Reestablecer contraseña 
        </mat-card-title>
        <mat-card-content class="content-container">
            <label>Introduce la dirección de correo electrónico asociada a tu usuario.</label><br>
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" required [value]="value" (input)="value = $event.target.value;">
                <mat-error>Ingrese un correo electrónico válido</mat-error>
            </mat-form-field>
            <mat-error>{{(errorMessage$ | async)}}</mat-error>
            <button mat-raised-button color="accent" class="enter-button" type="submit" (click)="sendMail()">
                Enviar
            </button>
        </mat-card-content>
    </mat-card>
</div>
