<div class="create-user-container">
    <mat-card class="form-container">
        <mat-card-title> </mat-card-title>
        <mat-card-content>
            <form 
                [formGroup]="form"
                class="create-user-form"
                (submit)="submit()"
                autocomplete="off">
                
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" required>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="id == undefined" class="password-field">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVissibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" type="email" required>
                    <mat-error>Ingrese un correo electrónico válido</mat-error>        
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <mat-select matInput formControlName="rol" required (selectionChange)="selectedRol()">
                        <mat-option *ngFor="let r of rolesList" [value]="r.value" >{{ r.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="puedeEditar" style="margin-bottom: 1rem;">Puede crear/editar <i>{{aclaracion}}</i></mat-checkbox>
                <mat-form-field>
                    <mat-label>Sector</mat-label>
                    <mat-select matInput formControlName="sector" required>
                        <mat-option *ngFor="let s of sectorList" [value]="s.value" >{{ s.description }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="buttons-container">
                    <mat-error>{{(errorMessage$ | async)}}</mat-error>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="enter-button"
                        type="submit"
                        [disabled]="form.invalid">
                        {{ labelButton }}
                    </button>
                    <button
                      mat-raised-button
                      color="accent"
                      class="back-button"
                      (click)="back()"
                      type="button"
                    >
                      Volver
                    </button>
                  </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>