.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.confetti {
    width: 15px;
    height: 15px;
    background-color: var(--confetti-yellow);
    position: absolute;
    left: 50%;
    animation: confetti 10s ease-in-out forwards;
    transform-origin: top left;    
}

.confetti:nth-child(1) {
    background-color: var(--confetti-yellow); left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
    background-color: var(--confetti-blue); left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
    background-color: var(--confetti-red); left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
    background-color: var(--confetti-gray); left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
    background-color: var(--confetti-blue); left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
    background-color: var(--confetti-red); left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
    background-color: var(--confetti-gray); left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
    background-color: var(--confetti-blue); left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
    background-color: var(--confetti-red); left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
    background-color: var(--confetti-yellow); left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
    0% { opacity: 1; transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { opacity: 1; transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { opacity: 1; transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { opacity: 1; transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    99% { opacity: 0; transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
    100% { opacity: 0; display: none; }
}