<mat-card>
    <mat-card-content>
        <h1 style="font-weight: 200;">Subir</h1>
        <div class="file-input">
            <button mat-stroked-button color="accent" (click)="file.click()">
                Seleccionar archivo
                <input
                    type="file"
                    #file
                    (change)="onFilesAdded()"
                    style="display: none;"
                    single
                    placeholder="Subir archivo"
                />
            </button>
            <span>&nbsp;&nbsp;{{ myFile ? myFile.name : "No se ha seleccionado un archivo" }}</span>
        </div>
        <br>
        <mat-form-field>
            <mat-label>Path de la carpeta</mat-label>
            <input matInput [formControl]="folderPathControl" type="text" autocomplete="off" placeholder="UNO/DOS/TRES">
        </mat-form-field>&nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="uploadFile()" [disabled]="!myFile"><mat-icon>cloud_upload</mat-icon>&nbsp;&nbsp;Subir</button>
        <br>
        <h2 style="font-weight: 200">Response: <a [href]="response" target="_blank">{{ response }}</a></h2>
        <div class="file-content" *ngIf="response">
            <img *ngIf="myFile && myFile.name.split('.')[1] == 'jpg' || myFile && myFile.name.split('.')[1] == 'png'" [src]="response" width="250px" height="250px">
            <video *ngIf="myFile && myFile.name.split('.')[1] == 'mp4'" controls width="500px" height="300px">
                <source [src]="response" type="video/mp4">
            </video>
        </div>

        <br>

        <h1 style="font-weight: 200;">Borrar</h1>
        <mat-form-field>
            <mat-label>Path del archivo</mat-label>
            <input matInput [formControl]="filePathControl" type="text" autocomplete="off" placeholder="UNO/DOS/TRES/foto.png">
        </mat-form-field>&nbsp;&nbsp;
        <button mat-raised-button color="warn" [disabled]="!filePathControl.value" (click)="deleteFile()"><mat-icon>delete</mat-icon>&nbsp;&nbsp;Borrar</button>

        <br>
    </mat-card-content>
</mat-card>
