<div class="modificar-competencia-container">
    <mat-card class="form-container">
        <mat-card-title> </mat-card-title>
        <mat-card-content>
            <form 
                [formGroup]="form"
                class="modificar-competencia-form"
                (submit)="submit()">
                
                <mat-form-field>
                    <mat-label>Nombre de la competencia</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Descripción de la competencia</mat-label>
                    <input matInput formControlName="descripcion" required>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>

                <div class="buttons-container">
                    <mat-error>{{(errorMessage$ | async)}}</mat-error>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="back-button"
                        type="button"
                        (click)="back()"
                    >
                        Volver
                    </button>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="enter-button"
                        type="submit"
                        [disabled]="form.invalid"
                    >
                        Guardar
                    </button>
                  </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>