<div class="edit-organization-container">
    <mat-card class="form-container">
        <mat-card-title> </mat-card-title>
        <mat-card-content>
            <form 
                [formGroup]="form"
                class="edit-organization-form"
                (submit)="submit()">
                
                <mat-form-field>
                    <mat-label>Nombre de la organización</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Descripción de la organización</mat-label>
                    <input matInput formControlName="descripcion">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Especialidad</mat-label>
                    <input matInput formControlName="especialidad">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Financiación</mat-label>
                    <input matInput formControlName="financiacion">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cantidad aproximada de empleados</mat-label>
                    <input matInput formControlName="cantidadAproxEmpleados">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fundación</mat-label>
                    <input matInput formControlName="fundacion">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ubicación</mat-label>
                    <input matInput formControlName="ubicacion">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sitio web</mat-label>
                    <input matInput formControlName="website">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Linkedin</mat-label>
                    <input matInput formControlName="linkedin">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Facebook</mat-label>
                    <input matInput formControlName="facebook">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Twitter</mat-label>
                    <input matInput formControlName="twitter">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Instagram</mat-label>
                    <input matInput formControlName="instagram">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono">
                </mat-form-field>

                <div class="buttons-container">
                    <mat-error>{{(errorMessage$ | async)}}</mat-error>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="back-button"
                        type="button"
                        (click)="back()"
                    >
                        Volver
                    </button>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="enter-button"
                        type="submit"
                    >
                        Guardar
                    </button>
                  </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>