.edit-organization-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.form-container {
    width: 100%; //400px;
    height: 100%; // 250px;
    display: flex;
    flex-direction: column;
    align-items: left;

    mat-form-field {
        width: 100%;
    }
}

.buttons-container {
    margin-top: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

    mat-error {
      position: absolute;
      top: 0;
      width: 100%;
    }
}

.edit-organization-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    text-align: left;
}

::ng-deep.cdk-overlay-container {
    background-color: transparent;
}

.back-button {
  margin-right: 20px;
}

