<mat-toolbar [ngClass]="{ 'opened-navbar-toggle': navbarIsOpen }">
    <div class="logo-container">
        <h1>
            get-ready
        </h1>
        <svg>
            <use class="shadow-svg" xlink:href="../../../assets/logo.svg#applogo"></use>
        </svg>
    </div>

    <button mat-icon-button (click)="toggleNavbar()">
        <i class="fas fa-bars fa-lg"></i>
    </button>

    <h2 *ngIf="isMobile">
        {{ title }}
    </h2>
</mat-toolbar>

<mat-card [ngClass]="navbarIsOpen ? 'opened-navbar-nav' : ''">
    <mat-card-content>
        <mat-nav-list>
            <ng-container *ngFor="let item of navbarItems">
                <a mat-list-item (click)="navigate(item)" [ngClass]="item.checked ? 'checked-item' : ''">
                    <i [ngClass]="item.icon"></i>
                    {{ item.description }}
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
