$icons-size: 40px;
$toggle-transition-duration: 0.25s;
$opened-panel-width: 300px;

@mixin svg-hover {
    animation: svg-color-animation 0.5s infinite;
    animation-direction: alternate;
}

@mixin svg-animate {
    path {
        @include svg-hover()
    }

    circle {
        @include svg-hover()
    }

    polygon {
        @include svg-hover()
    }

    use.shadow-svg {
        @include svg-hover();
    }
}

h1 {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

h1:hover + svg {
    @include svg-animate();
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.logo-container > svg {
    order: -1;
}

svg {
    width: $icons-size;
    height: $icons-size;
    cursor: pointer;
    margin-right: 0.25rem;
    fill: rgb(var(--color-text));
}

svg:hover {
    @include svg-animate();
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: $opened-panel-width;
    border-bottom-right-radius: 35px;
    transition: width ease-out $toggle-transition-duration, border-radius ease-out $toggle-transition-duration, background-color 0.25s ease-in;
}

.opened-navbar-toggle {
    width: $opened-panel-width;
    transition: width ease-in $toggle-transition-duration, border-radius ease-in $toggle-transition-duration, background-color 0.25s ease-in;
    border-radius: 0;
}

.mat-card {
    position: fixed;
    top: var(--toolbar-height);
    left: 0;
    padding: 0;
    margin: 0;
    width: $opened-panel-width;
    height: 100%;
    border-radius: 0;
    z-index: 10;

    transform: translateX(-100%);

    transition: transform $toggle-transition-duration ease-out, background-color 0.25s ease-in;
}

.mat-card-content {
    height: 100%;
    padding-top: 0;
    margin: 0;
    border-bottom-right-radius: 35px;
}

.opened-navbar-nav {
    top: var(--toolbar-height);
    left: 0;
    transform: translateX(0%);
    transition: transform $toggle-transition-duration ease-in, background-color 0.25s ease-in;
}

a {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mat-nav-list > .mat-list-item.checked-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background-color: var(--color-toolbar-background);
    border-radius: 10px;
    border: var(--color-card-background) 5px solid;
    transition: border-radius 0.25s, border 0.25s;
}

.mat-nav-list > .mat-list-item.checked-item:hover {
    background-color: var(--color-toolbar-background);
}

i:first-child {
    margin: 0;
}

i {
    margin-right: 0.25rem;
}

.mat-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - var(--toolbar-height));
}

.mat-nav-list > .mat-list-item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
}

::ng-deep.mat-list-item-content {
    width: 100%;
}

.mat-nav-list > .mat-list-item:last-child {
    display: block;
    margin-top: auto;
    cursor: default;
    pointer-events: none;
}

@keyframes svg-color-animation {
    from {
        fill: var(--color-primary);
    }

    to {
        fill: var(--color-accent);
    }
}

@media(max-width: 599px) {
    .mat-toolbar {
        width: 100%;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .mat-nav-list {
        height: calc(100vh - var(--toolbar-height));
    }

    .opened-navbar-toggle {
        width: 100%;
    }

    .mat-card {
        top: var(--toolbar-height);
    }

    .opened-navbar-nav {
        top: var(--toolbar-height);
    }

    .logo-container {
        display: none;
    }
}