.mat-card {
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    background-color: var(--color-toolbar-background);
    transition: background-color 0.25s ease-in;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-toolbar-background);
    transition: background-color 0.25s ease-in;
}

h2 {
    margin: 0;
    // margin-right: 1rem;
    padding: 0;
}

.highlight-green {
    border: #00c853 solid 5px;
    padding: calc(16px - 5px);
}

.highlight-red {
    border: #ef5350 solid 5px;
    padding: calc(16px - 5px);
}