<mat-card
    (click)="onClick()"
    [ngClass]="{ 'highlight-green': highlight && answer.correct, 'highlight-red': highlight && !answer.correct }"
    [style.pointer-events]="clickable ? 'all' : 'none'"
>
    <mat-card-content>
        <h2>{{ answer.answer }}</h2>
        <mat-icon [style.visibility]="highlight ? 'visible' : 'hidden'" [style.color]="answer.correct ? '#00c853' : '#ef5350 '">{{ answer.correct ? 'check' : 'clear' }}</mat-icon>
    </mat-card-content>
</mat-card>