<div *ngIf="canViewAppraisalsHeader()" class="top-buttons-container">
  <button
    *ngIf="canCreateAppraisals()"
    type="button"
    mat-raised-button
    color="primary"
    (click)="createAppraisal()"
  >
    Crear nueva evaluación
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button
    type="button"
    mat-raised-button
    color="accent"
    (click)="goToAppraisalStatistics()"
  >
    Ver estadísticas
  </button>
</div>
<ng-template [ngIf]="appraisals?.length" [ngIfElse]="withoutAppraisals">
  <ng-template [ngIf]="user.roleType !== 'ADMIN'" [ngIfElse]="adminTemplate">
    <div class="column-names" *ngIf="!isMobile">
      <p class="first-col">Nº de evaluación</p>
      <div class="second-col">
        <p *ngIf="user.roleType === 'USUARIO'">
          Evaluador
        </p>
        <p *ngIf="user.roleType !== 'USUARIO'">
          Evaluado
        </p>
      </div>
      <p class="third-col">
        Fecha
      </p>
      <p class="fourth-col">
        Estado
      </p>
    </div>
    <div class="cards-container">
      <mat-card [class]="isMobile ? 'mat-card-mobile' : 'mat-card-web'"
        *ngFor="let appraisal of appraisals"
        (click)="goToAppraisalDetail(appraisal.id)"
      >
        <p [class]="isMobile ? '' : 'first-col'">
          <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
          {{ appraisal.id }}
        </p>
        <p [class]="isMobile ? '' : 'second-col overflow-ellipsis'">
          {{ 
            user.roleType === 'USUARIO'
              ? (appraisal.evaluador.nombre + ' ' + appraisal.evaluador.apellido | titlecase)
              : (appraisal.evaluado.nombre + ' ' + appraisal.evaluado.apellido | titlecase)
          }}
        </p>
        <div [class]="isMobile ? '' : 'third-col overflow-ellipsis'">
          <p *ngIf="appraisal.idEstado === CREATED_APPRAISAL_STATUD_ID" class="overflow-ellipsis">
            Estimada: {{ appraisal.fechaTentativa | date }}
          </p>
          <p *ngIf="appraisal.idEstado === STARTED_APPRAISAL_STATUS_ID" class="overflow-ellipsis">
            Iniciada: {{ appraisal.fechaEnCurso | date }}
          </p>
          <p *ngIf="appraisal.idEstado === FINISHED_APPRAISAL_STATUS_ID" class="overflow-ellipsis">
            Finalizada: {{ appraisal.fechaFinalizacion | date }}
          </p>
        </div>
        <p [class]="isMobile ? '' : 'fourth-col'">
          {{ appraisal.estado?.nombre }}
        </p>
      </mat-card>
    </div>
  </ng-template>
  <ng-template #adminTemplate>
    <div class="column-names" *ngIf="!isMobile">
      <p class="first-col-admin">Nº evaluación</p>
      <p class="second-col-admin">
        Evaluado
      </p>
      <p class="third-col-admin">
        Evaluador
      </p>
      <p class="fourth-col-admin">
        Fecha
      </p>
      <p class="fifth-col-admin">
        Estado
      </p>
    </div>
    <div class="cards-container">
      <mat-card [class]="isMobile ? 'mat-card-mobile' : 'mat-card-web'"
        *ngFor="let appraisal of appraisals"
        (click)="goToAppraisalDetail(appraisal.id)"
      >
        <p [class]="isMobile ? '' : 'first-col-admin'">
          <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
          {{ appraisal.id }}
        </p>
        <p [class]="isMobile ? '' : 'second-col-admin overflow-ellipsis'">
          {{ (appraisal.evaluado.nombre + ' ' + appraisal.evaluado.apellido | titlecase) }}
        </p>
        <p [class]="isMobile ? '' : 'third-col-admin overflow-ellipsis'">
          {{ (appraisal.evaluador.nombre + ' ' + appraisal.evaluador.apellido | titlecase) }}
        </p>
        <div [class]="isMobile ? '' : 'fourth-col-admin'">
          <p *ngIf="appraisal.idEstado === CREATED_APPRAISAL_STATUD_ID" class="overflow-ellipsis">
            Estimada: {{ appraisal.fechaTentativa | date }}
          </p>
          <p *ngIf="appraisal.idEstado === STARTED_APPRAISAL_STATUS_ID" class="overflow-ellipsis">
            Iniciada: {{ appraisal.fechaEnCurso | date }}
          </p>
          <p *ngIf="appraisal.idEstado === FINISHED_APPRAISAL_STATUS_ID" class="overflow-ellipsis">
            Finalizada: {{ appraisal.fechaFinalizacion | date }}
          </p>
        </div>
        <p [class]="isMobile ? '' : 'fifth-col-admin'">
          {{ appraisal.estado?.nombre }}
        </p>
      </mat-card>
    </div>
  </ng-template>
</ng-template>
<ng-template #withoutAppraisals>
  <p>
    Todavía no tenés evaluaciones creadas
  </p>
</ng-template>

