.top-buttons-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

mat-card {
  &:hover {
    cursor: pointer;
    background-color: var(--color-primary);
  }

  p {
    margin: 1em 0 !important;
  }
}

.mat-card-web {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  padding-left: 50px;
  padding-right: 50px;
}

.mat-card-mobile {
  justify-content: space-between !important;
  align-items: center !important;
  text-align: center !important;
  margin-bottom: 20px !important;
}

.column-names {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.first-col {
  width: 12%;
  text-align: center;
}

.second-col {
  width: 25%;
}

.third-col {
  width: 25%;
}

.fourth-col {
  width: 15%;
}

.first-col-admin {
  width: 10%;
  text-align: center;
}

.second-col-admin {
  width: 20%;
}

.third-col-admin {
  width: 20%;
}

.fourth-col-admin {
  width: 20%;
}

.fifth-col-admin {
  width: 10%;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}