<div class="development-container">
  <app-praise-buttons [currentUserId]=user.id [targetUserId]=2 [enabled]=praiseEnabled [counters]=counters
                    [collaborative]="totalCollaborative" [excellent]="totalExcellent" [thanks]="totalThanks"
  ></app-praise-buttons>
</div>
