<div class="new-course-container">
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="name.invalid">
        <span *ngIf="name.errors.required">Por favor, ingrese el nombre del curso</span>
        <span *ngIf="name.errors.minlength">El nombre debe tener al menos 5 caracteres</span>
        <span *ngIf="name.errors.maxlength">El nombre no debe superar los 30 caracteres</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sector</mat-label>
      <mat-select matInput formControlName="sector" required>
        <mat-option *ngFor="let s of sectorList" [value]="s.value" >{{ s.description }}</mat-option>
      </mat-select>
      <mat-error *ngIf="sector.invalid">Por favor, ingrese el sector al que pertenece el curso</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="description.invalid">Por favor, ingrese una descripción para el curso</mat-error>
    </mat-form-field>

    <div class="footer-buttons-container">
      <mat-error>{{(errorMessage$ | async)}}</mat-error>
      <div class="buttons-container">
        <button id="submit" mat-raised-button color="accent" [disabled]="form.invalid" (click)="submit()">
          Guardar
        </button>
        <button id="back" mat-raised-button color="accent" (click)="back()" type="button">
          Volver
        </button>
      </div>
    </div>
  </form>
</div>