<div class="sign-up-container">
    <mat-card class="form-container">
        <mat-card-title>
            Registro
        </mat-card-title>
        <mat-card-content>
            <form 
                [formGroup]="signupForm"
                class="sign-up-form"
                (submit)="submit()">
                
                <div class="div-input">
                    <label class="input-title">Información de la organización</label><br>
                    <mat-form-field>
                        <mat-label>Nombre de la organización</mat-label>
                        <input matInput formControlName="organizationName" required>
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Cantidad empleados aproximada</mat-label>
                        <mat-select matInput formControlName="organizationQuantity" required>
                            <mat-option value="1 a 10">1 a 10</mat-option>
                            <mat-option value="10 a 100">10 a 100</mat-option>
                            <mat-option value="Más de 100">Más de 100</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="div-input">
                    <label class="input-title">Usuario administrador</label><br>
                    <mat-form-field>
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="password-field">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVissibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                            <mat-icon>{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput formControlName="email" type="email" required>
                        <mat-error>Ingrese un correo electrónico válido</mat-error>
                        
                    </mat-form-field>
                </div>

                <div class="info-container">
                    Podrá utilizar la versión de prueba por dos semanas ({{limitDate | date:'dd/MM/yyyy'}} inclusive). <br><br>
                    Luego contáctese con nosotros <b>getready.webapp@gmail.com</b> para que juntos armemos un presupuesto acorde a las necesidades de su organización.
                </div>

                <div class="buttons-container">
                    <mat-error>{{(errorMessage$ | async)}}</mat-error>
                    <button 
                        mat-raised-button
                        color="accent"
                        class="enter-button"
                        type="submit"
                        [disabled]="signupForm.invalid"
                    >
                        Registrarme
                    </button>
                  </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>