$padding-top: 30px;
$padding-bottom: 30px;
$padding-left: 20px;
$padding-right: 20px;

.sign-up-container {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-right;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - #{$padding-bottom} - #{$padding-top});
}

.form-container {
    width: 500px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 100%;
    }
}

.buttons-container {
    margin-top: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

    mat-error {
      position: absolute;
      top: 0;
      width: 100%;
    }
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    text-align: left;
}

.info-container {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.div-input { 
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-title {
    font-size: 16px; 
}

::ng-deep.cdk-overlay-container {
    background-color: transparent;
}
