<div class="count-progress">
    <p [style.font-size]="diameter/2+'px'" [style.color]="currentCount == 0 ? '#ef5350' : 'rgb(var(--color-text))'">{{ currentCount }}</p>
    <mat-progress-spinner mode="determinate" [value]="(this.currentCount * 100) / this.initialCount" [diameter]="diameter"></mat-progress-spinner>
</div>