<div>
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p>{{ data.description }}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()" color="accent">No</button>
        <button mat-raised-button [mat-dialog-close]="data" color="accent" cdkFocusInitial>Sí</button>
    </div>
</div>
