<div class="give-feedback-container">
    <div mat-dialog-title>
        <h3>¿Qué te pareció el curso?</h3>
        <button id="close" mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <mat-label>Dejanos tu opinión...</mat-label>
                <textarea matInput formControlName="opinion"></textarea>
                <mat-error *ngIf="opinion.invalid">Por favor, ingrese su opinión</mat-error>
            </mat-form-field>
        </form>
        <star-rating #starRating [rating]="rating" [showOperators]="true" [title]="'Puntuación'" style="text-align: center;"></star-rating>
    </div>
    
    <div mat-dialog-actions>
        <button id="save" mat-raised-button (click)="save()" color="accent" [disabled]="form.invalid">Enviar</button>
    </div>
</div>