.give-feedback-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.mat-dialog-title {
    position: relative;
    width: 100%;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-dialog-content {
    width: 100%;
    height: 100%;
}

.mat-dialog-actions {
    width: 100%;
}

#save {
    width: 100%;
    text-align: center;
}

.mat-input {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    color: rgb(var(--color-text));
}

.mat-form-field {
    font-weight: 200;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mat-form-field > .mat-form-field-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    margin: 0;
}

h2 {
    font-weight: 200;
    font-size: 18px;
}
