<mat-card (click)="goToRoute()">
    <mat-card-content>
        <div class="game-picture">
            <mat-icon>add</mat-icon>
            <img [src]="newGame.iconSrc">
        </div>
        <div class="game-description">
            <h2>
                {{ newGame.title }}
            </h2>
            <h3>
                {{ newGame.description }}
            </h3>
        </div>
    </mat-card-content>
</mat-card>
