$image-size: 150px;

.mat-card {
    transition: background-color 0.25s ease-in;
    background-image: linear-gradient(to bottom, var(--color-primary) 25%, transparent 25%);
    height: 300px;
    padding-top: 0;
    cursor: pointer;
}

.mat-card:hover {
    background-image: linear-gradient(to bottom, var(--color-accent) 25%, transparent 25%);
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 100%;
    user-select: none;
}

.game-picture {
    position: relative;
    width: $image-size;
    height: $image-size;
    transition: border-color 0.25s ease-in;
    margin-bottom: 1rem;
    padding: 10px;
}

.game-picture > .mat-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 32px;
}

.game-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

img {
    width: $image-size;
    height: $image-size;
}

h2 {
    font-size: 28px;
}

h2, h3 {
    font-weight: 200;
    margin: 0;
}

@media(max-width: "599px") {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px
    }
}