.acertijo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
}

.form-acertijo {
    position: relative;
    width: 100%;
    color: rgb(var(--color-text));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 5px;
}

.element {
    margin-bottom: 1rem;
}

.response-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.response-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}