<div *ngIf="acertijo != undefined" class="acertijo-container">
    <h1>{{ acertijo.title }}</h1>
    <label class="element">{{ acertijo.description }}</label>
    
    <mat-card>
        <mat-card-content *ngIf="status == 'playing'">
            <label class="element">{{ acertijo.acertijo }}</label>
            <form [formGroup]="form" autocomplete="off" class="form-acertijo">
                <mat-form-field class="element" appearance="fill">
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput formControlName="response"></textarea>
                    <mat-error *ngIf="form.get('response').invalid">Por favor, ingrese una respuesta</mat-error>
                </mat-form-field>
                <button mat-stroked-button (click)="quit()" class="element">
                      Me rindo...
                </button>
                <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="done()" class="element" >
                      ¡Listo!
                </button>
            </form>
        </mat-card-content>

        <mat-card-content *ngIf="status == 'finished'">
            <h3>Acertijo</h3>
            <label class="element">{{ acertijo.acertijo }}</label>
            
            <h3>Tu respuesta</h3>
            <label class="element">{{ form.value.response }}</label>
            
            <h3>Respuesta correcta</h3>
            <label class="element">{{ acertijo.response }}</label>
            
            <br>
            <div class="response-container">
                <label class="element"><i>"Un gran poder conlleva una gran responsabilidad"</i></label>
                <label class="element">Sé sincero sobre tu desempeño... recuerda que el pequeño buho te está observando...</label>
                <div class="response-buttons">
                    <button mat-stroked-button (click)="acertijoNotOk()" class="element">
                            Casi, pero no...
                    </button>
                    <button mat-raised-button color="accent" (click)="acertijoOk()" class="element" >
                            Soy lo más
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>