@mixin flex-inline {
    display: flex;
    justify-content: flex-start;
}

@mixin grid-1fr-cols {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--color-toolbar-background);
}

.organization-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.mat-card {
    transition: background-color 0.25s ease-in;
}

.mat-card:nth-child(1) {
    grid-column: 1 / 3;
    background-image: linear-gradient(to bottom, var(--color-primary) 35%, transparent 35%);
}

.mat-card:nth-child(2) {
    grid-column: 1 / 2;
    background-color: var(--color-toolbar-background);
}

.mat-card:nth-child(3) {
    grid-column: 2 / 3;
    background-color: var(--color-toolbar-background);
}

.mat-card-content {
    width: 100%;
}

.mat-card:nth-child(1) > .mat-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.mat-card:nth-child(2) > .mat-card-content {
    @include grid-1fr-cols()
}

.mat-card:nth-child(3) > .mat-card-content {
    @include grid-1fr-cols()
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
}

.organization-info {
    max-width: 50%;
}

.organization-info > .organization-nombre {
  margin-bottom: 0;
}

.organization-info > .organization-description {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
  color:  rgba(var(--color-text), 0.75);
}

.org-dat, .org-cont {
    padding: 3%;
}

p {
    margin-bottom: 10%;
}

@media(max-width: 599px) {

    .mat-card:nth-child(1) > .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    .organization-info {
        width: 100%;
        max-width: 100%;
    }

    .mat-card:nth-child(2) {
        grid-column: 1 / 3;
    }

    .mat-card:nth-child(3) {
        grid-column: 1 / 3;
    }
}
