<div class="organization-container">
    <mat-card>
        <mat-card-content>
            <button *ngIf="currentUser.roleType === 'ADMIN'" mat-icon-button id="edit" (click)="edit()"><mat-icon>edit</mat-icon></button>
            <div class="organization-info">
                <h1 class="organization-nombre">{{ organization.nombre }}</h1><br/><br/>
                <p class="organization-description"> {{ organization.descripcion }}</p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            DATOS DE LA ORGANIZACIÓN
        </mat-card-title>
        <br>
        <mat-card-content>
            <div class="org-dat">
                <h3>Tipo</h3><p>{{organization.tipo}}</p>
                <h3>Especialidad</h3><p>{{organization.especialidad}}</p>
                <h3>Financiación</h3><p>{{organization.financiacion}}</p>
                <h3>Cantidad aproximada de empleados</h3><p>{{organization.cantidadAproxEmpleados}}</p>
                <h3>Fundación</h3><p>{{organization.fundacion}}</p>
                <h3>Ubicación</h3><p>{{organization.ubicacion}}</p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            DATOS DE CONTACTO
        </mat-card-title>
        <br>
        <mat-card-content>
            <div class="org-cont">
                <h3>Sitio web</h3><p><a target="blank" href="{{organization.website}}">{{organization.website}}</a></p>
                <h3>Email</h3><p><a target="blank" href="mailto:{{organization.email}}">{{organization.email}}</a></p>
                <h3>Linkedin</h3><p><a target="blank" href="{{organization.linkedin}}">{{organization.linkedin}}</a></p>
                <h3>Facebook</h3><p><a target="blank" href="{{organization.facebook}}">{{organization.facebook}}</a></p>
                <h3>Twitter</h3><p><a target="blank" href="{{organization.twitter}}">{{organization.twitter}}</a></p>
                <h3>Instagram</h3><p><a target="blank" href="{{organization.instagram}}">{{organization.instagram}}</a></p>
                <h3>Teléfono</h3><p><a target="blank" href="tel:{{organization.telefono}}">{{organization.telefono}}</a></p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
