.course-container {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.mat-card {
    display: flex;
    height: 75px;
    transition: background-color 0.25s ease-in;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    width: 64px;
    height: 64px;
}

.course-progress {
    position: relative;
}

.course-progress > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: center;
}