<div class="course-container"> 
    <mat-card>
        <mat-card-content>
            <div class="course-progress">
                <p>{{ course.progress }}%</p>
                <mat-progress-spinner mode="determinate" [value]="course.progress" diameter="72"></mat-progress-spinner>
            </div>
            <div class="description">
                <h3>{{ course.title }}</h3>
            </div>
        </mat-card-content>
    </mat-card>
</div>