<div class="sign-in-container">
    <mat-card class="card-container">
        <mat-card-title>
            <div class="logo-container">
                <svg class="svg-logo">
                  <use xlink:href="../../../assets/logo.svg#applogo"></use>
                </svg>
                Get-ready
            </div>
        </mat-card-title>
        <mat-card-content class="form-container">
            <form
                [formGroup]="loginForm"
                class="sign-in-form"
                (submit)="submit()"
                autocomplete="off"
            >
                <div class="inputs-container">
                    <mat-form-field>
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="password-field">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVissibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                            <mat-icon>{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                    <div class="forgot-password">
                        <a style="text-decoration:none" [routerLink]="" (click)="forgotPassword()">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                
                <div class="buttons-container">
                  <mat-error *ngIf="(invalidLogin$ | async)">Usuario y/o contraseña inválidos</mat-error>
                  <button 
                      mat-raised-button
                      color="accent"
                      class="enter-button"
                      type="submit"
                      [disabled]="loginForm.invalid"
                  >
                      Iniciar sesión
                  </button>
                </div>
            </form>
            <div role="button">
                ¿Querés registrar tu organización?<br>  
                <a [routerLink]="" (click)="signUp()">Hacé click aquí</a> 
            </div>
        </mat-card-content>
    </mat-card>
</div>