.sign-in-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.card-container {
    width: 325px;
    height: 380px;
    // height: 60%;
    // width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 100%;
    }
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.inputs-container {
    margin-top: auto;
    width: 100%;
}

.password-field {
    margin-top: 10px;
}

.forgot-password {
    text-decoration: none;
    text-align: right;
    opacity: 0.7;
}

.buttons-container {
    margin-top: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    mat-error {
      position: absolute;
      top: 0;
      width: 100%;
    }
}

.enter-button {
    &:hover {
        background-color: var(--color-accent);
    }
}

.svg-logo {
    fill: var(--color-primary);
    height: 30px;
    width: 30px;
}
