.achievement-container {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.mat-card {
    position: relative;
    display: flex;
    height: 75px;
    transition: background-color 0.25s ease-in;
    // background-image: linear-gradient(to right, var(--color-primary) 50px, transparent 50px);
    padding-left: 18px;

    .disabled {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-background);
        opacity: 0.75;
    }

    .mat-card-content {
        width: 100%;
        margin-bottom: 0;

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            -webkit-user-select: none;     
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            
            .description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                text-align: center;
                height: 100%;
            }
        
            .stuff {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 75px;
        
                .points {
                    border-radius: 50%;
                    background-color: var(--color-accent);
                    padding: 10px;
                    text-align: center;
                }
            }
        
            transition: background-color 0.25 ease-in, color 0.25 ease-in;
        }        
    }
}

h2, h3 {
    font-weight: 100;
    margin: 0;
}