<div class="achievement-container"> 
    <mat-card matRipple [ngStyle]="{'background-image' : 'linear-gradient(to right, var(--color-' + getColor() + ') 50px, transparent 50px)'}">
        <mat-card-content>
            <div class="content">
                <img [src]="'../../../../assets/medals/' + achievement.rarity + '.png'">
                <div class="description">
                    <h2>{{ achievement.title }}</h2>
                    <h3>{{ achievement.description }}</h3>
                </div>
                <div class="stuff">
                    <h2 class="points mat-elevation-z2">{{ achievement.points }}</h2>
                    <h3>{{ achievement.date | date: "dd/MM/yy" }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>