<div class="change-password-container">
    <mat-card class="card-container">
        <mat-card-title>
            
        </mat-card-title>
        <mat-card-content class="form-container">
            <form
                [formGroup]="form"
                class="change-password-form"
                (submit)="submit()"
            >
                <mat-form-field class="password-field">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput formControlName="currentPassword" [type]="hidePass1 ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVissibility1($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass1">
                        <mat-icon>{{hidePass1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="password-field">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput formControlName="newPassword" [type]="hidePass2 ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVissibility2($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
                        <mat-icon>{{hidePass2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error>Este campo es requerido</mat-error>
                </mat-form-field>

                <mat-error>{{(errorMessage$ | async)}}</mat-error>
                <button 
                    mat-raised-button
                    color="accent"
                    class="enter-button"
                    type="submit"
                    [disabled]="form.invalid"
                >
                    Cambiar
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>