
    <div [class]="isMobile ? 'top-container-mobile' : 'top-container'">
        <mat-form-field class="top-container-bar" appearance="fill">
            <mat-label><mat-icon style="font-size: 24px">filter_list</mat-icon></mat-label>
            <mat-chip-list #chipList>
                <mat-chip
                    *ngFor="let filter of (filters | async)"
                    [removable]="removable"
                    (removed)="remove(filter)"
                >
                    {{ filter }} <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                    matInput
                    #filterInput
                    [formControl]="filterControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let filter of filteredFilters | async" [value]="filter">
                    {{ filter.description }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="top-container-buttons">
          <button *ngIf="canCreateGame()" mat-flat-button color="accent" class="button-field history-button" (click)="seeHistoric()">Ver historial</button>
          <button *ngIf="currentUser.roleType !== 'USUARIO'" color="accent" mat-flat-button class="button-field" (click)="goToStatsPage()">Ver estadísticas</button>
        </div>
    </div>
    <div class="games-container"> 
        <mat-card *ngIf="canCreateGame()" class="new-game" (click)="newGame()">
            <mat-card-content>
                <i class="fas fa-plus fa-6x"></i>
                <h2>Agregar juego</h2>
            </mat-card-content>
        </mat-card>

        <ng-container *ngFor="let game of filteredGames">
            <app-game-card [game]="game"></app-game-card>
        </ng-container>
   </div>
