.games-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.mat-card.new-game {
    // background-color: var(--color-toolbar-background);
    opacity: 0.4;
    cursor: pointer;
    user-select: none;
}

.mat-card.new-game > .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-color: var(--color-toolbar-background);
    height: 100%;
}

.mat-card.new-game:hover {
    opacity: 0.5;
}

h2, h3 {
    font-weight: 200;
}

.top-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "bar bar bar buttons";
}

.top-container-mobile {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "bar bar bar bar" "buttons buttons buttons buttons";
  margin-bottom: 15px;
}

.top-container-bar {
  grid-area: bar;
}

.top-container-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
}

.filter-field {
    height: 100%;
    color: rgb(var(--color-text));
}

.button-field {
    color: rgb(var(--color-text));
    height: 55px;
}

button {
    ::ng-deep.mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.history-button {
    margin-right: 1rem;
}
