$icons-size: 72px;

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-text), 0.5);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

svg {
    width: $icons-size;
    height: $icons-size;
    fill: var(--color-primary);
    animation: loading-animation 0.35s infinite;
    animation-direction: alternate;
}

@keyframes loading-animation {
    from {
        transform: scale(1.0);
        fill: var(--color-primary);
    }

    to {
        transform: scale(1.2);
        fill: var(--color-accent);
    }
}