$padding-top: 80px;
$padding-bottom: 80px;
$padding-left: 20px;
$padding-right: 20px;

.get-ready-container {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-right;
    min-height: calc(100vh - #{$padding-bottom} - #{$padding-top});

    display: flex;
    flex-direction: column;

    .my-h1 {
        margin: 0;
        font-weight: 200;
        font-size: x-large;
    }
    
    .filler-bottom {
        display: none;
    }
    
    .filler-top {
        display: none;
    }
    
    .router-outlet-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .testing-button {
        position: fixed;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}

@media(max-width: 599px) {
    $padding-top: 20px;
    $padding-bottom: 20px;

    .get-ready-container {
        margin-top: var(--toolbar-height);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        transition: border-top-left-radius 0.25s, border-top-right-radius 0.25s;
        min-height: calc(100vh - #{$padding-bottom} - #{$padding-top} - var(--toolbar-height));

        .filler-top {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 1000px;
            height: var(--toolbar-height);
            background-color: var(--color-background);
        }
    
        .filler-bottom {
            display: block;
            position: fixed;
            top: var(--toolbar-height);
            left: 0;
            width: 1000px;
            z-index: -1;
        }

        .router-outlet-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }    
    
        .testing-button {
            display: none;
        }
    }
}