<div class="get-ready-container">
    <div *ngIf="!isMobile">
        <h1 class="my-h1">{{ title }}</h1>
        <hr>
    </div>

    <!-- Hacky shit -->
    <div class="filler-top"></div>
    <mat-toolbar class="filler-bottom"></mat-toolbar>

    <!-- For developers only -->
    <button
        *ngIf="!environment.production"
        mat-mini-fab
        class="testing-button"
        matTooltip="SÓLO PARA DESARROLLADORES"
        [matTooltipPosition]="'after'"
        (click)="testShit()"
    >
        <mat-icon>bug_report</mat-icon>
    </button>

    <app-navbar></app-navbar>
    <app-toolbar></app-toolbar>
    <app-chatbot></app-chatbot>
    <router-outlet></router-outlet>
    
    <app-overlay-transparent></app-overlay-transparent>
    <app-overlay-confetti></app-overlay-confetti>
    <app-overlay-achievement></app-overlay-achievement>
</div>