<button
  mat-raised-button
  color="accent"
  (click)="back()"
>
  Volver
</button>
<h2>
  Promedio de puntajes finales por empleado {{ currentUser.roleType === 'ADMIN_SECTOR' ? '(en evaluaciones del sector)' : '(en evaluaciones de la organización)'}}
</h2>
<!-- TODO: Ver si puedo darle tamaño fijo a las barras (parece que la biblioteca no te lo deja cambiar) -->
<div class="employee-chart-container">
  <canvas baseChart
    height="100"
    [datasets]="employeeBarChartData"
    [labels]="employeeBarChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="employeeBarColors"
  >
  </canvas>
</div>

<h2>
  Promedio de puntajes finales por competencia {{ currentUser.roleType === 'ADMIN_SECTOR' ? '(en evaluaciones del sector)' : '(en evaluaciones de la organización)'}}
</h2>
<div class="skill-chart-container">
  <canvas baseChart
    height="100"
    [datasets]="skillBarChartData"
    [labels]="skillBarChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="skillBarColors"
  >
  </canvas>
</div>