<div class="dialog-container">
    <div mat-dialog-title>
        <h3>
            {{ data.title }}
        </h3>
        <button id="close" mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>

    <div mat-dialog-content>
        <form [formGroup]="questionForm" autocomplete="off">
            <mat-form-field>
                <mat-label>Pregunta</mat-label>
                <input matInput formControlName="question">
                <mat-error *ngIf="questionForm.get('question').invalid">Por favor, ingrese la pregunta</mat-error>
            </mat-form-field>

            <div class="answers-header">
                <h2>Respuestas</h2>
                <h2>¿Correcta?</h2>
            </div>

            <div formGroupName="answers">
                <ng-container *ngFor="let groupKey of objectRef.keys(questionFormAnswers.controls) ; let i=index">
                    <div [formGroupName]="groupKey" class="answer">
                        <div class="n-answer">
                            <p>{{i+1}}.&nbsp;</p>
                            <input matInput formControlName="answer" placeholder="Respuesta...">
                        </div>
                        <mat-checkbox formControlName="correct"></mat-checkbox>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container> 
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button id="save" mat-raised-button (click)="save()" color="accent" [disabled]="questionForm.invalid" cdkFocusInitial>Guardar</button>
    </div>
</div>