.dialog-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mat-dialog-title {
    position: relative;
    width: 100%;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-dialog-content {
    width: 100%;
    height: 100%;
}

.mat-dialog-actions {
    width: 100%;
}

#save {
    width: 100%;
    text-align: center;
}

.mat-input {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    color: rgb(var(--color-text));
}

.mat-form-field {
    font-weight: 200;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mat-form-field > .mat-form-field-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    margin: 0;
}

.answers-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n-answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    padding-left: 0;
}

.mat-checkbox {
    width: 16px;
    height: 16px;
}

::ng-deep.mat-checkbox > .mat-checkbox-layout {
    vertical-align: top;
}

h2 {
    font-weight: 200;
    font-size: 18px;
}

.mat-list-text {
    pointer-events: none;
}