<div>
    <div *ngIf="!isMobile">
        <mat-menu #usermenu="matMenu">
            <mat-card class="notifications-menu">
                <mat-card-header>
                    <h3>Notificaciones</h3>
                    <button mat-button color="accent" class="action-button" (click)="goToNotifications()">Ver todo</button>
                </mat-card-header>             
                <mat-progress-bar *ngIf="isLoadingNotifications" mode="indeterminate"></mat-progress-bar>
                <mat-card-content *ngIf="!isLoadingNotifications" class="notifications">
                    <div *ngIf="notifications?.length == 0" class="notifications-empty">
                        <label >¡Oops! Nada para mostrar</label>
                        <mat-icon>notifications</mat-icon>
                    </div>
                    <ng-container *ngFor="let item of notifications">
                        <div class="notification">
                            <button mat-icon-button color="accent" [disabled]="item.leida" matTooltip="Marcar como leída" 
                                (click)="markAsRead($event, item)">
                                <mat-icon>mark_email_read</mat-icon>     
                            </button>
                            <label> {{item.texto}} </label> 
                            <label style="opacity:50%; margin-left:0.5rem">({{item.fecha | date:'dd/MM/yyyy HH:mm'}})</label>
                        </div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </mat-menu>
    
        <button mat-icon-button (click)="onClick($event)" [matMenuTriggerFor]="usermenu" #menuTrigger="matMenuTrigger">
            <mat-icon [matBadge]="(matBadgeCount | async)" 
                matBadgeHidden="false" 
                [matBadgeColor]="(matBadgeColor | async)">
                notifications
            </mat-icon>
        </button>
    </div>
    
    <button *ngIf="isMobile" mat-icon-button (click)="onClick($event)">
        <mat-icon [matBadge]="(matBadgeCount | async)" 
            matBadgeHidden="false" 
            [matBadgeColor]="(matBadgeColor | async)">
            notifications
        </mat-icon>
    </button>
</div>