$custom-icon-size: 64px;

label {
    word-break: normal;
    white-space: normal
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ::ng-deep.mat-card-header-text {
        display: none;
    }

    h3 {
        margin: 0;
        font-weight: 100;
        text-align: left;
    }

    button {
        width: fit-content;
    }
}

.mat-card {
    background-image: linear-gradient(to bottom, var(--color-toolbar-background) 68px, transparent 68px);
    max-height: 500px;

    mat-card-content {
        height: 100%;
        padding-top: 16px;
    
        .notifications-empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 125px;
            padding-top: 16px;

            .mat-icon {
                margin-top: 1rem;
                font-size: $custom-icon-size;
                width: $custom-icon-size;
                height: $custom-icon-size;
                color: var(--color-toolbar-background);
            }
        }
    }
}

.action-button {
    width: 100%;
    font-weight: bold;
}

::ng-deep .mat-menu-panel {
    min-width: 0px !important;
    min-height: 0px !important;
}

.notifications-menu {
    margin: 0 !important;
    position: absolute;
    display: flex;
    flex-direction: column;

    right: 25px;
    top: 20px;
    width: 500px;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
}
