<div class="profile-container">
    <mat-card class="profile-card">
        <mat-card-content>
            <div class="profile-picture">
                <img src="{{ imgSource }}">
            </div>

            <div class="profile-info">
                <h1 class="profile-username">{{ userProfile.username }}</h1>
                <p class="profile-displayname"> {{ userProfile.displayname }}</p>
                <div class="profile-level" *ngIf="userHasLevel()">
                    <p> Nivel {{ userGetReady.nivel.nivel }} - {{ userGetReady.nivel.rango }} </p>&nbsp;&nbsp;
                    <p> {{ userGetReady.nivel.mensaje }} </p>
                </div>

                <div class="profile-achievements">
                    <i class="fas fa-trophy fa-lg"></i>&nbsp;&nbsp;
                    <p> {{ achievementPoints }} </p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="praise-card">
        <mat-card-content>
          <div class="praise">
            <p>Reconocimientos</p>
            <app-praise-buttons [currentUserId]="user.id" [display]="true" [counters]="true"></app-praise-buttons>
          </div>
        </mat-card-content>
    </mat-card>

    <div class="content-container">
        <mat-card class="content-card">
            <h2>Cursos</h2>
    
            <div matRipple *ngIf="!fetchingCourses && courses.length == 0" class="empty">
                <mat-icon color="primary">school</mat-icon>
                <p>Este usuario no ha hecho ningún curso</p>
            </div>
    
            <div class="cards-container">
                <mat-spinner diameter="48" *ngIf="fetchingCourses" color="primary"></mat-spinner>
    
                <ng-container *ngFor="let course of courses">
                    <br>
                    <app-course-progress-card [course]="course"></app-course-progress-card>
                </ng-container>
            </div>
        </mat-card>

        <mat-card class="content-card">
            <h2>Logros</h2>
    
            <div matRipple *ngIf="!fetchingAchievements && achievements.length == 0" class="empty">
                <mat-icon color="primary">emoji_events</mat-icon>
                <p>Este usuario no ha obtenido ningún logro</p>
            </div>
    
            <div class="cards-container">
                <mat-spinner diameter="48"  *ngIf="fetchingAchievements" color="primary"></mat-spinner>
    
                <ng-container *ngFor="let achievement of achievements">
                    <br>
                    <app-achievement-card [achievement]="achievement"></app-achievement-card>
                </ng-container>
            </div>
        </mat-card>
    </div>
</div>
