$profile-picture-size: 200px;
$icon-size: 64px;

@mixin flex-inline {
    display: flex;
    justify-content: flex-start;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.mat-card {
    transition: background-color 0.25s ease-in;
    margin-bottom: 1rem;
}

.profile-card {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background-image: linear-gradient(to bottom, var(--color-primary) 35%, transparent 35%);
}

.praise-card {
    padding-top: 0;
    padding-bottom: 0;

    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-color: var(--color-toolbar-background);

    .praise{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
        p {
            font-size: 24px;
        }
    }      
}

.mat-card-content {
    width: 100%;
}

.mat-card:nth-child(1) > .mat-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
}

.profile-picture {
    position: relative;
    width: $profile-picture-size;
    height: $profile-picture-size;
    min-width: $profile-picture-size;
    max-width: $profile-picture-size;
    border-radius: 10px;
    border: 5px solid var(--color-card-background);
    cursor: pointer;
    overflow: hidden;
    margin-right: 1rem;
    transition: border-color 0.25s ease-in;
}

.profile-picture > img {
    width: $profile-picture-size;
    height: $profile-picture-size;
}

.profile-info {
    max-width: 50%;
}

.profile-info > .profile-username {
  margin-bottom: 0;
}

.profile-info > .profile-displayname {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
  color:  rgba(var(--color-text), 0.75);
}

.profile-info > .profile-level {
    @include flex-inline();
}

.profile-info > .profile-achievements {
    @include flex-inline();
    text-align: center;
}

.profile-level > p:last-child {
    font-style: italic;
    color: gray;
}

.profile-achievements > i {
    margin-top: auto;
    margin-bottom: auto;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.content-card {
    max-height: 750px;
    overflow: auto;
    width: 100%;
    background-color: var(--color-toolbar-background);

    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        -webkit-user-select: none;
        padding: 12px;
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        margin-top: 1rem;
        cursor: pointer;
    
        .mat-icon {
            width: $icon-size;
            height: $icon-size;
            font-size: $icon-size;
        }
    
        p {
            margin: 0;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 100;
        margin: 0;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        * {
            width: 100%;
        }

        .mat-spinner {
            margin-top: 1rem;
        }
    }
}

.content-card:first-child {
    margin-right: 1rem;
}

@media(max-width: 599px) {

    .mat-card {
        box-sizing: border-box;
    }

    .profile-container{
        grid-template-rows: auto auto auto;
    }

    .mat-card:nth-child(1) > .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        grid-row: 1 / 2;
    }

    .profile-info {
        width: 100%;
        max-width: 100%;
    }

    .mat-card:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .praise{
      flex-direction: column;
    }

    .content-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}
