.section-cards-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.new-section {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    user-select: none;

    i {
      margin: auto 10px auto 0;
    }

    h2 {
      margin-top: 0;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.section-card {
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      width: 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  z-index: 2;
}
