<div class="section-cards-container">
  <mat-card *ngIf="canCreateSection()" class="new-section" (click)="newSection()">
    <mat-card-content>
      <i class="fas fa-plus"></i>
      <h2>Agregar sección</h2>
    </mat-card-content>
  </mat-card>
  
  <ng-container *ngIf="(sections$ | async)?.length">
    <mat-card
      *ngFor="let section of (sections$ | async); let sectionIndex = index"
      (click)="goToSection(section, sectionIndex)"
      class="section-card">
      
      <button class="menu" *ngIf="canCreateSection()" mat-icon-button [matMenuTriggerFor]="menu" (click)="onClickMenu($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
          (click)="edit(section, $event)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item
          (click)="delete(section, $event)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>

      <mat-card-content>
        <h2 [title]="section.nombre">
          {{ section.nombre }}
        </h2>
        <p [title]="section.descripcion">
          {{ section.descripcion }}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>