<div class="game-container">
    <button mat-raised-button color="accent" (click)="back()">Volver</button><br>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Nombre de usuario </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="typeAction">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.typeAction}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="game">
            <mat-header-cell *matHeaderCellDef> Juego </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.game}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="formattedDate">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.formattedDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['username', 'typeAction', 'game', 'formattedDate']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['username', 'typeAction', 'game', 'formattedDate']"></mat-row>
    </mat-table>
  </div>