<button mat-raised-button color="accent" *ngIf="sessionService.getCurrentUser()?.roleType != 'USUARIO'" (click)="addCustomAchievement()"><mat-icon>add</mat-icon>&nbsp;Logro personalizado</button>

<div class="achievements-container">
    <div class="achievements">
        <ng-container *ngFor="let achievement of userAchievements; let userAchievementIndex = index;">
            <div class="achievement">
                <div *ngIf="!achievement.date" class="disabled"></div>
                <button *ngIf="achievement.custom" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vertical</mat-icon></button>
                <app-achievement-card [achievement]="achievement"></app-achievement-card>
            </div>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editAchievement(achievement)">Editar&nbsp;<mat-icon>edit</mat-icon></button>
                <button mat-menu-item (click)="deleteAchievement(achievement)">Borrar&nbsp;<mat-icon>delete</mat-icon></button>
            </mat-menu>      
        </ng-container>
        <ng-container *ngFor="let achievement of achievements; let achievementIndex = index;">
            <div class="achievement">
                <div *ngIf="!achievement.date" class="disabled"></div>
                <button *ngIf="!achievedByUser(achievement) && achievement.custom" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vertical</mat-icon></button>
                <app-achievement-card style="z-index: 1;" *ngIf="!achievedByUser(achievement)" [achievement]="achievement"></app-achievement-card>
            </div>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editAchievement(achievement)">Editar&nbsp;<mat-icon>edit</mat-icon></button>
                <button mat-menu-item (click)="deleteAchievement(achievement)">Borrar&nbsp;<mat-icon>delete</mat-icon></button>
            </mat-menu>            
        </ng-container>
        <mat-card matRipple *ngIf="achievements.length == 0 && userAchievements.length == 0" class="nothing-card">
            <mat-card-content>
                <h2>Nada por aquí 🤷</h2>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="filters">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="categoryFilter" (change)="onCategoryFilterChange(group.value)">
            <mat-button-toggle value="all">Todos</mat-button-toggle>
            <mat-button-toggle value="general">General</mat-button-toggle>
            <mat-button-toggle value="courses">Cursos</mat-button-toggle>
            <mat-button-toggle value="games">Juegos</mat-button-toggle>
            <mat-button-toggle value="appraisals">Evaluaciones</mat-button-toggle>
            <mat-button-toggle value="chatbot">Chatbot</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>