$hover-margin: 1.5rem;

button:first-child {
    margin-bottom: 1rem;

    ::ng-deep.mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.achievements-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .achievements {
        width: 80%;
        margin-right: 1rem;

        .achievement {
            position: relative;
            margin-bottom: 0.5rem;
            transition: margin 0.2s linear;
            width: 100%;

            button {
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;
                z-index: 2;

                .mat-icon {
                    color: rgb(var(--color-text));
                }
            }

            .disabled {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--color-background);
                opacity: 0.75;
                z-index: 2;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        
        // .achievement:hover:not(:first-child) {
        //     margin-bottom: $hover-margin;
        //     margin-top: $hover-margin;
        // }
        
        // .achievement:first-child:hover {
        //     margin-bottom: $hover-margin;
        // }

        .nothing-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 75px;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-user-select: none;

            .mat-card-content {
                margin-bottom: 0;
            }

            h2 {
                color: gray;
                font-weight: 100;
            }
        }
    }

    .filters {
        flex-grow: 1;
        width: 20%;

        .mat-button-toggle-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
          
            .mat-button-toggle {
                width: 100%;
    
                ::ng-deep.mat-button-toggle-button {
                    text-align: left;
                }
            }
        }
    }
}

@media(max-width: 699px) {
    .achievements-container {
        flex-direction: column;

        .achievements {
            width: 100%;
            order: 2;
            margin-right: 0;
            width: 100%;
        }

        .filters {
            width: 100%;

            .mat-button-toggle-group {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}