<div class="notifications-container">
    <div class="notifications-actions">
        <mat-checkbox [formControl]="hideReadControl">Ocultar notificaciones leídas</mat-checkbox>
        <button mat-stroked-button color="accent" (click)="setAllRead()"><mat-icon>mark_email_read</mat-icon>&nbsp;Marcar todas como leídas</button>
    </div>
    <p *ngIf="showLabel"><i>Se marcaron todas las notificaciones como leídas</i></p>
    <mat-list>
        <ng-container *ngFor="let item of notifications">
            <mat-list-item class="notifications" *ngIf="!hideReadControl.value || (hideReadControl.value && !item.leida)">
                <div mat-line [style]="getStyleText(item)"> {{item.texto}} </div> 
                <div mat-line style="opacity:50%;"> {{item.fecha | date:'dd/MM/yyyy HH:mm'}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </ng-container>
    </mat-list>
</div>