.notifications {
    font-size: 14px;
    height: 50px !important;
}

.notifications-container {

    .notifications-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        .mat-checkbox {
            color: rgb(var(--color-text));
        }

        button {
            margin-left: 1rem;

            ::ng-deep.mat-button-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
}