<div class="container-sector">
  <mat-accordion>
    <ng-container *ngFor="let sector of sectores">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{sector.nombre}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="user-list">
          <mat-list-item *ngFor="let user of allUsersBySector.get(sector.id); let lastItem = last" (click)="openUserProfile(user)">
            <div class="user-line">
              <mat-icon>person</mat-icon>
              <p>{{user.username}}</p>
              <i>{{getRol(user.rol.tipo)}}</i>
              <app-praise-buttons [currentUserId]=currentUser.id [targetUserId]=user.id
                                  [enabled]=praiseEnabled [counters]=false
                                  (praiseStatusChange)="praiseEnabled = $event"></app-praise-buttons>
            </div>
            <mat-divider *ngIf="!lastItem"></mat-divider>
          </mat-list-item>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>


