i {
  color: darkgray;
  margin-left: 4px;
}

mat-panel-title{
  font-weight: bold;
}

.user-line{
  display: flex;
  flex-wrap: wrap;
  vertical-align: center;
}

.user-line > *{
  margin-top: auto;
  margin-bottom: auto;
}

app-praise-buttons{
  margin-left: auto;
}

.mat-list-item:hover {
  background-color: var(--color-toolbar-background);
  cursor: pointer;
}