.app-container {
    background-color: inherit;
}

@media(max-width: 599px) {

    .app-container {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        transition: border-top-left-radius 0.25s, border-top-right-radius 0.25s;
    }
}