.course-cards-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.mat-card.new-course {
    // background-color: var(--color-toolbar-background);
    opacity: 0.4;
    cursor: pointer;
    user-select: none;
}

.mat-card.new-course > .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-color: var(--color-toolbar-background);
    height: 100%;
}

.mat-card.new-course:hover {
    opacity: 0.5;
}

.mat-card.search-container {
    padding: 5px;
    border-radius: 20px;
}

h2, h3 {
    font-weight: 200;
}

.filters-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.search-field {
    height: 100%;
    color: rgb(var(--color-text));

    flex: 1;
}

.button-field {
    margin-left: 1rem;
    color: rgb(var(--color-text));
    height: 55px;
}

::ng-deep.mat-form-field-wrapper {
    height: 100%;
}

::ng-deep.mat-form-field-flex {
    height: 100%;
}

.filter-field {
    flex: 2;
    height: 100%;
    margin-right: 1rem;
    color: rgb(var(--color-text));
}

@media(max-width: 599px) {
    .filters-container {
        flex-direction: column;
    }

    .search-field {
        width: 100%;
    }

    .filter-field {
        width: 100%;
        margin-right: 0;
    }

    .button-field {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
    }
}