<div class="courses-container">
    <div class="filters-container">
        <mat-form-field class="filter-field" appearance="fill">
            <mat-label><mat-icon style="font-size: 24px">filter_list</mat-icon></mat-label>
            <mat-chip-list #chipList>
                <mat-chip
                    *ngFor="let filter of (filters | async)"
                    [removable]="removable"
                    (removed)="remove(filter)"
                >
                    {{ filter }} <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                    matInput
                    #filterInput
                    [formControl]="filterControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let filter of filteredFilters | async" [value]="filter">
                    {{ filter.description }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="search-field">
            <mat-label><mat-icon style="font-size: 24px">search</mat-icon></mat-label>
            <input matInput #searchInput [formControl]="searchControl" placeholder="Buscar curso..." autocomplete="off">
        </mat-form-field>

        <button *ngIf="canSeeStats()" 
            mat-flat-button
            color="accent" 
            (click)="goToCourseStats()"
            class="button-field">Ver estadísticas
        </button>
    </div>
    <div class="course-cards-container">
        <mat-card *ngIf="canCreateCourse()" class="new-course" (click)="newCourse()">
            <mat-card-content>
                <i class="fas fa-plus fa-6x"></i>
                <h2>Agregar curso</h2>
            </mat-card-content>
        </mat-card>

        <ng-container *ngFor="let course of filteredCourses">
            <app-course-card [course]="course"></app-course-card>
        </ng-container>
    </div>
</div>