<div>
  <form 
    [formGroup]="form"
    class="crear-competencia-form"
    (submit)="submit()"
  >
    <div class="sub-header-container">
      <h2>Asignar competencias a evaluar</h2>
      <div>
        <mat-label>Empleado: </mat-label>
        <mat-form-field floatLabel="never">
          <mat-label>Seleccione un empleado</mat-label>
          <mat-select (selectionChange)="selectEmployee($event)">
            <mat-option *ngFor="let emp of employees" [value]="emp">
              {{ (emp.nombre && emp.apellido) ? (emp.nombre + ' ' +  emp.apellido | titlecase) : emp.username }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
    </div>
    <button
      class="add-skill-button"
      type="button"
      mat-raised-button
      color="primary"
      (click)="addSkill()"
      [disabled]="!skillsFromOrganization.length"
    >
      Agregar competencia
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <mat-table [dataSource]="skills.value" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Competencia </mat-header-cell>
        <mat-cell *matCellDef="let skill"> {{skill.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Descripción de la competencia </mat-header-cell>
        <mat-cell *matCellDef="let skill"> {{skill.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let skill">
          <button mat-icon-button color="warn" type="button" (click)="removeSkill(skill)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['name', 'description', 'remove']"></mat-header-row>
      <mat-row *matRowDef="let skill; columns: ['name', 'description', 'remove']"></mat-row>
    </mat-table>
    <div>
      <label>Meses hasta la evaluación: </label>
      <mat-form-field class="months-field">
        <mat-select (selectionChange)="selectMonths($event)">
          <mat-option *ngFor="let month of listOfMonths" [value]="month">{{ month }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="footer-buttons-container">
      <mat-error>{{(errorMessage$ | async)}}</mat-error>
      <div class="buttons-container">
        <button mat-raised-button color="accent" (click)="back()" type="button">
          Volver
        </button>
        <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit">
          Asignar
        </button>
      </div>
    </div>
  </form>
</div>