.sub-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-form-field {
    width: 200px;
  }
}

.add-skill-button {
  display: flex;
  width: fit-content;
  margin-bottom: 25px;
}

mat-table {
  overflow: auto;
  margin-bottom: 25px;

  mat-header-cell, mat-cell {
    &:nth-child(1) {
      flex: 0.25;
    }

    &:nth-child(2) {
      flex: 0.65;
    }

    &:nth-child(3) {
      flex: 0.1;
      min-width: 50px !important;
      justify-content: flex-end;
    }
  }
}

mat-cell {
  min-width: 150px;
}

mat-header-cell {
  min-width: 150px;
}

.months-field {
  width: 50px;
  text-align: center;
}

.footer-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;

  button {
    font-size: 1.17em;
    font-weight: 200;

    &:first-child {
      margin-right: 20px;
    }
  }
}