<div class="get-feedback-container">
    <div mat-dialog-title>
        <h3>Opiniones</h3>
        <button id="close" mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content style="text-align: center;">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="!loading" class="div-promedio">
            <h3 *ngIf="promedio > -1">Promedio</h3>
            <star-rating *ngIf="promedio > -1" [rating]="promedio" [showOperators]="false" [title]=""></star-rating>
            <label *ngIf="promedio == -1">(todavía no hay datos)</label>
            <br><br><br>
        </div>
        
        <ng-container *ngFor="let opinion of opinions; let i = index">
            <mat-divider *ngIf="i > 0"></mat-divider><br>
            <label>{{ opinion.opinion }}</label>
            <star-rating [rating]="opinion.puntaje" [showOperators]="false" [title]=""></star-rating>
            <br>
        </ng-container>
    </div>
</div>