.get-feedback-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.mat-dialog-title {
    position: relative;
    width: 100%;
    margin: 0 0 0px !important;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-dialog-content {
    width: 100%;
    height: 100%;
}

.div-promedio {
    display: flex;
    justify-content: center;
    align-items: center;
}