.acertijo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

form {
    position: relative;
    width: 100%;
    color: rgb(var(--color-text));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

h3 {
    font-weight: 200;
}

.mat-form-field {
    font-size: 1.17em;
    font-weight: 200;
    width: 100%;
    margin-bottom: 1rem;
}

.mat-form-field:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
}

#done {
    font-size: 1.17em;
    font-weight: 200;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

mat-card {
    padding-top: 20px;
    padding-bottom: 10px;
    transition: background-color 0.25s ease-in;
}

mat-card-content {
    padding: 0;
    transition: background-color 0.25s ease-in;
}