<div class="acertijo-container">
    <form [formGroup]="form" autocomplete="off">

        <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="form.get('title').invalid">Por favor, ingrese el título</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="form.get('description').invalid">Por favor, ingrese la descripción</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sector</mat-label>
            <mat-select matInput formControlName="sector" required>
                <mat-option *ngFor="let s of sectorList" [value]="s.value" >{{ s.description }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('sector').invalid">Por favor, ingrese el sector al que pertenece el acertijo</mat-error>
        </mat-form-field>    

        <mat-card>
            <h3>Contenido</h3>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Acertijo</mat-label>
                    <textarea matInput formControlName="acertijo"></textarea>
                    <mat-error *ngIf="form.get('acertijo').invalid">Por favor, ingrese el acertijo</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput formControlName="response"></textarea>
                    <mat-error *ngIf="form.get('response').invalid">Por favor, ingrese la respuesta</mat-error>
                </mat-form-field>
            </mat-card-content>
        </mat-card>  

        <button id="done" mat-raised-button color="accent" [disabled]="form.invalid" (click)="done()">
            ¡Listo!&nbsp;
        </button>
    </form>
</div>
