form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-form-field {
  font-size: 1.17em;
  font-weight: 200;
  width: 100%;
  margin-bottom: 1rem;
}

.add-video-button {
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
}

.url-container {
  display: flex;

  button {
    margin-top: 15px;
  }
}

.footer-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;

  button {
    font-size: 1.17em;
    font-weight: 200;

    &:first-child {
      margin-right: 20px;
    }
  }
}