<div class="new-section-container">
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="name.invalid">
        <span *ngIf="name.errors.required">Por favor, ingrese el nombre de la sección</span>
        <span *ngIf="name.errors.minlength">El nombre debe tener al menos 5 caracteres</span>
        <span *ngIf="name.errors.maxlength">El nombre no debe superar los 30 caracteres</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="description.invalid">
        <span *ngIf="description.errors.required">Por favor, ingrese una descripción para el curso</span>
        <span *ngIf="description.errors.maxlength">La descripción no debe superar los 255 caracteres</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Texto</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>

    <div class="urls-container">

    </div>
    <button
      id="add-video"
      class="add-video-button"
      type="button"
      mat-raised-button
      color="primary"
      (click)="addUrlInput()"
    >
      Agregar video
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <div formArrayName="urls">
      <div
        *ngFor="let url of urls.controls; index as i"
        class="url-container"
      >
        <mat-form-field appearance="fill">
          <mat-label>Url del video</mat-label>
          <input
            matInput
            placeholder="Escriba la url del video"
            [formControlName]="i"
            required
          >
          <mat-error>
            Por favor, ingrese la url del video
          </mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="deleteUrlInput(i)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    
    <div class="footer-buttons-container">
      <mat-error>{{(errorMessage$ | async)}}</mat-error>
      <div class="buttons-container">
        <button id="submit" mat-raised-button color="accent" [disabled]="form.invalid" (click)="submit()">
          Guardar
        </button>
        <button id="back" mat-raised-button color="accent" (click)="back()" type="button">
          Volver
        </button>
      </div>
    </div>
  </form>
</div>