<div class="course-container">
    <button
        *ngIf="canEdit()"
        mat-icon-button id="edit"
        (click)="edit()"
        matTooltip="Editar curso"
        [matTooltipPosition]="'after'"
    >
        <mat-icon>edit</mat-icon>
    </button>
    
    <mat-card (click)="takeCourse($event)">
        <mat-card-content>
            <div class="course-picture">
                <img src="../../../../assets/graduation-hat.png">
            </div>
            <h2>
                {{ course.title }}
            </h2>
            <mat-progress-bar mode="determinate" [value]="course.progress" [color]="course.progress == 100 ? 'accent' : 'primary'"></mat-progress-bar>
            <h3>
                {{ course.progress }}% completado
            </h3>
            <div *ngIf="showFeedbackButton()">
                <button
                    (click)="feedbackClick()"
                    id="feedback"
                    color="accent"
                    mat-stroked-button>
                    <i class="fas fa-chalkboard-teacher fa-lg"></i>&nbsp;
                    {{ getLabelFeedbackButton() }}
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    
</div>
