$image-size: 150px;

.course-container {
    position: relative;
}

.mat-card {
    transition: background-color 0.25s ease-in;
    background-image: linear-gradient(to bottom, var(--color-primary) 25%, transparent 25%);
    height: 350px;
    cursor: pointer;
}

.mat-card:hover {
    background-image: linear-gradient(to bottom, var(--color-accent) 25%, transparent 25%);
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

#edit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
}

#feedback {
    z-index: 2;
}

.mat-icon {
    color: rgb(var(--color-text));
}

.course-picture {
    position: relative;
    width: $image-size;
    height: $image-size;
    border-radius: 10px;
    overflow: hidden;
    transition: border-color 0.25s ease-in;
    padding: 10px;
}

img {
    width: $image-size;
    height: $image-size;
}

h2, h3 {
    font-weight: 200;
}

.mat-progress-bar {
    height: 15px;
    border-radius: 15px;
}