<div class="user-container">
    <button mat-raised-button color="accent" class="create-user-button" (click)="addUser()"><mat-icon>add</mat-icon>&nbsp;Agregar usuario</button><br>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Nombre de usuario </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Correo electrónico </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sector">
            <mat-header-cell *matHeaderCellDef> Sector </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sector?.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-stroked-button color="accent" (click)="editUser(row)"><mat-icon>edit</mat-icon>&nbsp;Editar</button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-flat-button color="warn" (click)="deleteUser(row)"><mat-icon>delete</mat-icon>&nbsp;Eliminar</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name', 'lastname', 'username', 'email', 'sector', 'edit', 'delete']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'lastname', 'username', 'email', 'sector', 'edit', 'delete']"></mat-row>
    </mat-table>
  </div>