<h1 mat-dialog-title>Seleccione una competencia</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <mat-select (selectionChange)="selectSkill($event)">
      <mat-option
        *ngFor="let skill of data.availableSkills"
        [value]="skill"
      >
        {{ skill.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción:</mat-label>
    <textarea matInput [value]="selectedSkill?.descripcion || ''" disabled></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button
    mat-button
    cdkFocusInitial
    color="primary"
    (click)="addSkill()"
    [disabled]="!selectedSkill"
  >
    Agregar
  </button>
</div>