@mixin message {
    width: fit-content;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    p {
        text-align: right;
        margin-top: 0.5rem;
    }
}

.chatbot-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 5;
}

.mat-card {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 400px;
    height: 600px;
    padding: 0;
    border-radius: 10px;
    transition: background-color 0.25s ease-in;
    z-index: 5;
}

.mat-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: background-color 0.25s ease-in;
}

.chat-header {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    height: 10%;
    width: 100%;
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    background-color: var(--color-toolbar-background);
}

.chat-bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start
}

.chat-bot > i {
    margin-right: 0.5rem;
}

.chat-content {
    height: 95%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    overflow: hidden;
}

.chat-message {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    position: absolute;
    bottom: 0.25rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;

    padding-right: 10px;
    padding-left: 10px;
}

.messages-container {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    max-height: 87.5%;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    overflow: auto;
    background-color: transparent;
}

mat-form-field {
    width: 100%;
    font-size: 16px;
    min-width: 0;
}

.message-input {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    border-radius: 30px;
    width: 85%;
    background-color: var(--color-toolbar-background);
    height: 75%;
}

button {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h4 {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    white-space: normal;
}

.message-content {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    white-space: normal;
}

.user-message {
    @include message;
    background-color: var(--color-accent);
    text-align: right;
    margin-left: auto;
}

.bot-message {
    @include message;
    background-color: var(--color-primary);
    text-align: left;
    margin-right: auto;
}

.msg-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    form {
        width: 100%;

        button {
            width: 100%;
        }
    }
}

@media(max-width: 599px) {
    .mat-card {
        position: fixed;
        bottom: 1rem;
        width: 90%;
        height: 525px;

        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-height: 599px) {
    .mat-card {
        height: 475px;
    }
}