<div *ngIf="!chatVisible" class="chatbot-button">
    <button mat-fab (click)="toggleChat()">
        <i class="fas fa-comment-alt fa-lg fa-fw"></i>
    </button>
</div>

<mat-card *ngIf="chatVisible" class="mat-elevation-z4">
    <mat-card-content>
        <div class="chat-header">
            <div class="chat-bot">
                <i class="fas fa-robot fa-2x"></i>
                <h3>Bot</h3>
                <p *ngIf="writing" style="margin-left: 0.25rem;">(Escribiendo...)</p>
            </div>
            <div class="chat-nav">
                <button mat-icon-button (click)="toggleChat()"><mat-icon>minimize</mat-icon></button>
            </div>
        </div>
        <div class="chat-content">
            <div #chatbox class="messages-container">
                <ng-container *ngFor="let msg of messages">
                    <div [ngClass]="{ 'user-message': msg.userMessage, 'bot-message': !msg.userMessage }" class="mat-elevation-z2">
                        <div [innerHTML]="parseMessage(msg.message) | badwords" class="message-content"></div>
                        <div *ngIf="msg.options && msg.options.length > 0" class="msg-options">
                            <ng-container *ngFor="let option of msg.options">
                                <form>
                                    <button mat-stroked-button [color]="msg.userMessage ? 'primary' : 'accent'" (click)="openUrl(option.url)">{{ option.option }}</button>
                                </form>
                            </ng-container>
                        </div>
                        <p>{{ msg.timestamp }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="chat-message">
            <div class="message-input">
                <mat-form-field>
                    <input matInput autocomplete="off" (keyup.enter)="sendMessage()" (keypress)="removeSpecialCharacters($event)" [(ngModel)]="message">
                </mat-form-field>
            </div>
            <button mat-mini-fab (click)="sendMessage()"><mat-icon [inline]="true">send</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>