<div mat-line>
  <button mat-icon-button [disabled]='!this.enabled' (click)="praise('EXCELLENT', $event)" matTooltip="Buen trabajo!">
    <mat-icon>star</mat-icon>
  </button>
  <span *ngIf=counters>{{excellent}}</span>
  <button mat-icon-button [disabled]='!this.enabled' (click)="praise('COLLABORATIVE', $event)" matTooltip="Buen compañero!">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span *ngIf=counters>{{collaborative}}</span>
  <button mat-icon-button [disabled]='!this.enabled' (click)="praise('THANKS', $event)" matTooltip="Gracias!">
    <mat-icon>loyalty</mat-icon>
  </button>
  <span *ngIf=counters>{{thanks}}</span>
</div>
