.back-button {
  margin-bottom: 10px;
}

.cards-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
}

.trivia-card {
  display: grid;
  grid-template-rows: 30px 270px 20px;
  width: 230px;
  text-align: center;
  justify-self: center;

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
  
    button {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

mat-list-item {
  height: 40px !important;
}

:host ::ng-deep {
  .user-list {
    .mat-button {
      .mat-button-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

.without-players-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}