<div class="stats-container">
  <button mat-raised-button color="accent" (click)="back()" class="back-button">Volver</button>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>batch_prediction</mat-icon>
      <div mat-line>Cantidad de trivias {{ currentUser.id_sector ? 'en el sector' : 'en la organización'}}: {{ triviasCount }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>batch_prediction</mat-icon>
      <div mat-line>Cantidad de acertijos {{ currentUser.id_sector ? 'en el sector' : 'en la organización'}}: {{ acertijosCount }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>batch_prediction</mat-icon>
      <div mat-line>
        Trivia más jugada: {{ mostPlayedTrivia?.nombre }} ({{ mostPlayedTrivia?.vecesJugada }} veces jugada)
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>batch_prediction</mat-icon>
      <div mat-line>
        Acertijo más jugado: {{ mostPlayedAcertijo?.nombre }} ({{ mostPlayedAcertijo?.vecesJugado }} veces jugado)
      </div>
    </mat-list-item>
  </mat-list>
  <h3 *ngIf="triviaRankings?.length> 0">Rankings por trivia:</h3>
  <div class="cards-wrapper">
    <ng-container *ngFor="let trivia of triviaRankings">
      <mat-card class="trivia-card">
        <h3 [title]="trivia.nombre">{{ trivia.nombre }}</h3>
        <div class="user-list">
          <ng-template [ngIf]="trivia?.userScores.length" [ngIfElse]="notPlayersYet">
            <button
              *ngFor="let user of trivia?.userScores; index as i"
              mat-button
              [color]="colorsArray[i % colorsArray.length]">
              <span>{{ "#" + (i + 1) }}</span>
              <span>{{ user?.username }}</span>
              <span>{{ user?.maxScore }}</span>
            </button>
          </ng-template>
          <ng-template #notPlayersYet>
            <div class="without-players-container">
              <mat-icon>gamepad</mat-icon>
              <p>Todavía no hay jugadores para esta trivia</p>
              <mat-icon>videogame_asset</mat-icon>
            </div>
          </ng-template>
        </div>
        <label>Participantes: {{ trivia.userScores?.length }}</label>
      </mat-card>
    </ng-container>
  </div>
</div>
