mat-slide-toggle, mat-slide-toggle-label {
    height: 100%;
    font-size: 1rem;
}

::ng-deep.mat-slide-toggle-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.25rem;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(3, 0.75fr);
    width: fit-content;
    border-bottom-left-radius: 35px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

::ng-deep.cdk-overlay-container {
    background-color: transparent;
}