<mat-menu #usermenu="matMenu">
    <button mat-menu-item (click)="help()"><mat-icon>help</mat-icon>Ayuda</button>
    <button mat-menu-item (click)="userChangePassword()"><mat-icon>fingerprint</mat-icon>Cambiar contraseña</button>
    <button mat-menu-item (click)="signOut()"><mat-icon>exit_to_app</mat-icon>Salir</button>
</mat-menu>

<mat-toolbar>
    <app-notification></app-notification>
    <button mat-icon-button [matMenuTriggerFor]="usermenu" style="background-color: transparent;"><i class="fas fa-user-circle fa-lg"></i></button>
    <mat-slide-toggle #slideToggle (change)="toggleColorTheme()">
        <i [ngClass]="(slideToggle.checked) ? 'fas fa-sun fa-lg' : 'fas fa-moon fa-lg'"></i>
    </mat-slide-toggle>
</mat-toolbar>