.section-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0
  }

  ::ng-deep {
    button {
      span {
        display: flex;
        align-items: center;
      }
    }
  }
}

p {
  word-wrap: break-word;
}

.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.video-container {
  display: flex;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.exit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}