<div class="section-container" *ngIf="section$ | async as section">
  <div class="section-topbar">
    <button
      mat-button color="accent"
      (click)="changeSection(-1)"
      [disabled]="!(isTherePrev$ | async)"
    >
      <mat-icon>navigate_before</mat-icon>
      Sección anterior
    </button>
    <h2>{{ section?.nombre }}</h2>      
    <button
      mat-button color="accent"
      (click)="changeSection(1)"
      [disabled]="!(isThereNext$ | async)"
    >
      Sección siguiente
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <h4>{{ 'Descripción: ' + section?.descripcion }}</h4>
  <p>{{ section?.texto }}</p>
  <div
    *ngIf="section.videoUrls?.length"
    class="videos-container"
  >
    <div class="video-container">
      <button
        mat-icon-button color="primary"
        (click)="changeVideo(-1)"
        [disabled]="currentVideoIndex === 0"
      >
        <mat-icon>navigate_before</mat-icon>
      </button>
      <iframe
        width="560"
        height="315"
        [src]="sanitizedURL(section.videoUrls[currentVideoIndex])"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <button
        mat-icon-button color="primary"
        (click)="changeVideo(1)"
        [disabled]="currentVideoIndex === section.videoUrls.length - 1"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>

  <div class="exit-section">
    <button mat-button color="accent" (click)="saveAndExit()">
        Salir y guardar progreso
        <mat-icon>save</mat-icon>
    </button>
  </div>
</div>