<form [formGroup]="form" (ngSubmit)="saveAppraisal()" *ngIf="appraisal">
  <mat-table formArrayName="appraisalLines" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Competencia </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index"> {{skill.value.competencia.nombre}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index"> {{skill.value.competencia.descripcion}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="observations">
      <mat-header-cell *matHeaderCellDef>
        {{ appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID && user.roleType === 'USUARIO' ? '¿Qué vengo logrando?' : 'Observaciones empleado' }}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index">
        <textarea
          matInput
          [value]="skill.value.observaciones"
          (keyup)="setObservations($event, skill, 'observaciones')"
          [disabled]="appraisal.idEstado !== CREATED_APPRAISAL_STATUS_ID || user.roleType === 'ADMIN'"
        ></textarea>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="employeeScore">
      <mat-header-cell *matHeaderCellDef>
        {{ appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID && user.roleType === 'USUARIO' ? 'Puntaje' : 'Puntaje empleado' }}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index">
        <mat-form-field>
          <mat-select
            [(value)]="skill.value.puntajeEvaluado"
            [disabled]="appraisal.idEstado !== CREATED_APPRAISAL_STATUS_ID || user.roleType === 'ADMIN'"
          >
            <mat-option *ngFor="let score of allowedScore" [value]="score">{{ score }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="evaluatorScore">
      <mat-header-cell *matHeaderCellDef>
        {{ appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID && user.roleType === 'ADMIN_SECTOR' ? 'Puntaje' : 'Puntaje evaluador' }}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index">
        <mat-form-field>
          <mat-select
            [(value)]="skill.value.puntajeEvaluador"
            [disabled]="appraisal.idEstado !== CREATED_APPRAISAL_STATUS_ID || user.roleType === 'ADMIN'"
          >
            <mat-option *ngFor="let score of allowedScore" [value]="score">{{ score }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="finalScore">
      <mat-header-cell *matHeaderCellDef> Puntaje final </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index">
        <mat-form-field>
          <mat-select
            [(value)]="skill.value.puntajeFinal"
            [disabled]="user.roleType === 'USUARIO' || user.roleType === 'ADMIN' || appraisal.idEstado === FINISHED_APPRAISAL_STATUS_ID"
          >
            <mat-option *ngFor="let score of allowedScore" [value]="score">{{ score }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="finalObservations">
      <mat-header-cell *matHeaderCellDef> Observaciones finales </mat-header-cell>
      <mat-cell *matCellDef="let skill; let index = index" [formGroupName]="index">
        <textarea
          matInput
          [value]="skill.value.feedback"
          (keyup)="setObservations($event, skill, 'feedback')"
          [disabled]="user.roleType === 'USUARIO' || user.roleType === 'ADMIN' || appraisal.idEstado === FINISHED_APPRAISAL_STATUS_ID"
        ></textarea>
      </mat-cell>
    </ng-container>
  
    <ng-template [ngIf]="appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID && user.roleType !== 'ADMIN'" [ngIfElse]="initiatedEvaluation">
      <ng-template [ngIf]="user.roleType === 'USUARIO'" [ngIfElse]="adminTemplate">
        <mat-header-row *matHeaderRowDef="['name', 'description', 'observations', 'employeeScore']"></mat-header-row>
        <mat-row *matRowDef="let skill; columns: ['name', 'description', 'observations', 'employeeScore']"></mat-row>
      </ng-template>

      <ng-template #adminTemplate>
        <mat-header-row *matHeaderRowDef="['name', 'description', 'evaluatorScore']"></mat-header-row>
        <mat-row *matRowDef="let skill; columns: ['name', 'description', 'evaluatorScore']"></mat-row>
      </ng-template>
    </ng-template>

    <ng-template #initiatedEvaluation>
      <mat-header-row *matHeaderRowDef="['name', 'description', 'observations', 'employeeScore', 'evaluatorScore', 'finalScore', 'finalObservations']"></mat-header-row>
      <mat-row *matRowDef="let skill; columns: ['name', 'description', 'observations', 'employeeScore', 'evaluatorScore', 'finalScore', 'finalObservations']"></mat-row>
    </ng-template>
    
  </mat-table>

  <div class="footer-buttons-container">
    <mat-error>{{(errorMessage$ | async)}}</mat-error>
    <div class="buttons-container">
      <button mat-raised-button color="accent" (click)="back()" type="button">
        Volver
      </button>
      <button
        *ngIf="appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID && user.roleType !== 'ADMIN' ||
          user.roleType === 'ADMIN_SECTOR' && appraisal.idEstado !== FINISHED_APPRAISAL_STATUS_ID"
        mat-raised-button
        color="accent"
        type="submit"
      >
        Guardar
      </button>
      <button
        *ngIf="user.roleType === 'ADMIN_SECTOR' && appraisal.idEstado === CREATED_APPRAISAL_STATUS_ID"
        mat-raised-button
        color="primary"
        type="button"
        (click)="startAppraisal()"
      >
        Iniciar intercambio
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button
        *ngIf="user.roleType !== 'USUARIO' && appraisal.idEstado === STARTED_APPRAISAL_STATUS_ID"
        mat-raised-button
        color="primary"
        type="button"
        (click)="finishAppraisal()"
      >
        Finalizar evaluación
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</form>