textarea {
  resize: none !important;
  height: 80%;
}

mat-table {
  margin-bottom: 20px;
  overflow: auto;
}

mat-row {
  height: 100px;
}

mat-cell {
  height: 90%;
  min-width: 150px;
}

mat-header-cell {
  min-width: 150px;
}

mat-form-field {
  width: 20%;
  margin-left: 10px;
}

.footer-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;

  button {
    font-size: 1.17em;
    font-weight: 200;

    &:not(last-child) {
      margin-right: 20px;
    }
  }
}
