<div class="stats-container">
    <button mat-raised-button color="accent" (click)="back()" class="back-button">Volver</button>
    <mat-list>
        <mat-list-item> 
            <mat-icon mat-list-icon>batch_prediction</mat-icon>
            <div mat-line>Cantidad de cursos: {{ data?.length }}</div>
        </mat-list-item>
        <mat-list-item> 
            <mat-icon mat-list-icon>batch_prediction</mat-icon>
            <div mat-line> {{ getUsersLabel() }}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>batch_prediction</mat-icon>
            <div mat-line>Curso con la puntuación más alta: {{ getHighestScore() }}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>batch_prediction</mat-icon>
            <div mat-line>Curso con la puntuación más baja: {{ getLowestScore() }}</div>
        </mat-list-item>
    </mat-list>
    <h3 *ngIf="data?.length > 0">Detalle por cursos:</h3>
    <div class="chart-wrapper">
        <ng-container *ngFor="let course of data;">
            <mat-card class="course-chart">
                <h3> {{ course.nombre }}</h3>
                <div class="canvas-chart">
                    <canvas baseChart
                        [data]="course.canvasData"
                        [labels]="coursesStateLabel"
                        [chartType]="'doughnut'"
                        [options]="chartOptions">
                    </canvas>
                </div> 
                <label> {{ getPuntajePromedio(course) }}</label>
            </mat-card>
        </ng-container>
    </div>
</div>