.back-button {
  margin-bottom: 10px;
}

.chart-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
}

.course-chart {
  display: grid;
  grid-template-rows: 60px 250px 20px;
  width: 230px;
  text-align: center;
  justify-self: center;
}

.canvas-chart {
  width:230px; 
  height:230px;
}

mat-list-item {
  height: 40px !important;
}
