@import '~@angular/material/theming';

@include mat-core();

$app-light-primary: mat-palette($mat-light-green, 500);
$app-light-accent:  mat-palette($mat-deep-purple, 300);
$app-light-warn:    mat-palette($mat-red, 900);

$app-dark-primary: mat-palette($mat-green, 500);
$app-dark-accent:  mat-palette($mat-purple, 500);
$app-dark-warn:    mat-palette($mat-red, 900);

$app-light-theme: mat-light-theme($app-light-primary, $app-light-accent, $app-light-warn);
$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

.app-light-theme {
    @include angular-material-theme($app-light-theme);

    --color-primary: #{mat-color($app-light-primary)};
    --color-accent: #{mat-color($app-light-accent)};
    --color-warn: #{mat-color($app-light-warn)};
    --color-background: #{mat-color(mat-palette($mat-blue-gray, 50))};
    --color-text: 0, 0, 0; // black
    --color-card-background: white;
    --color-toolbar-background: whitesmoke;

    --confetti-yellow: #{mat-color(mat-palette($mat-yellow, 400))};
    --confetti-red: #{mat-color(mat-palette($mat-red, 200))};
    --confetti-blue: #{mat-color(mat-palette($mat-blue, 200))};
    --confetti-gray: #{mat-color(mat-palette($mat-gray, 400))};
    
    --color-common: #{mat-color(mat-palette($mat-blue-gray, 500))};
    --color-uncommon: #{mat-color(mat-palette($mat-green, 500))};
    --color-rare: #{mat-color(mat-palette($mat-blue, 500))};
    --color-epic: #{mat-color(mat-palette($mat-deep-purple, 500))};
    --color-legendary: #{mat-color(mat-palette($mat-deep-orange, 500))};

    background-color: var(--color-background);
    transition: background-color 0.25s ease-in;

    color: var(--color-text);
    fill: var(--color-text);
}

.app-dark-theme {
    @include angular-material-theme($app-dark-theme);

    --color-primary: #{mat-color($app-dark-primary)};
    --color-accent: #{mat-color($app-dark-accent)};
    --color-warn: #{mat-color($app-dark-warn)};
    --color-background: #121212;
    --color-text: 255, 255, 255; // white
    --color-card-background: #424242;
    --color-toolbar-background: #212121;

    --confetti-yellow: #{mat-color(mat-palette($mat-yellow, 600))};
    --confetti-red: #{mat-color(mat-palette($mat-red, 600))};
    --confetti-blue: #{mat-color(mat-palette($mat-blue, 600))};
    --confetti-gray: #{mat-color(mat-palette($mat-gray, 600))};

    --color-common: #{mat-color(mat-palette($mat-blue-gray, 300))};
    --color-uncommon: #{mat-color(mat-palette($mat-green, 300))};
    --color-rare: #{mat-color(mat-palette($mat-blue, 300))};
    --color-epic: #{mat-color(mat-palette($mat-purple, 300))};
    --color-legendary: #{mat-color(mat-palette($mat-deep-orange, 300))};

    background-color: var(--color-background);;
    transition: background-color 0.25s ease-in;

    color: var(--color-text);
    fill: var(--color-text);
}