@import "src/material-theme.scss";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --toolbar-height: 64px;
}

* {
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

html, body {
    padding: 0;
    margin: 0;
}

.mat-card {
    transition: background-color 0.25s ease-in;
}

.mat-card-title {
    transition: background-color 0.25s ease-in;
}

.mat-card-content {
    transition: background-color 0.25s ease-in;
}

.mat-toolbar {
    transition: background-color 0.25s ease-in;
}

.mat-icon {
    vertical-align: middle;
 }

.fa,.fas,.far,.fal,.fab {
    font-family: "Font Awesome 5 Free";
}

p, h1, h2, h3 {
    color: rgb(var(--color-text));
}

.full-height {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media(max-width: 599px) {
    :root {
        --toolbar-height: 56px;
    }

    // body {
    //     overflow: hidden;
    // }
}

// lo tengo que poner acá para que me tome el style del snackbar
.notification-snackbar {
    margin-top: 70px !important;
}