$profile-picture-size: 200px;

@mixin flex-inline {
    display: flex;
    justify-content: flex-start;
}

@mixin grid-1fr-cols {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.profile-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}


.mat-card {
    transition: background-color 0.25s ease-in;
}

.mat-card:nth-child(1) {
    grid-column: 1 / 3;
    background-image: linear-gradient(to bottom, var(--color-primary) 35%, transparent 35%);
}

.mat-card:nth-child(2) {
    grid-column: 1 / 2;
}

.mat-card:nth-child(3) {
    grid-column: 2 / 3;
}

.mat-card-content {
    width: 100%;
}

.mat-card:nth-child(1) > .mat-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.mat-card:nth-child(2) > .mat-card-content {
    @include grid-1fr-cols()
}

.mat-card:nth-child(3) > .mat-card-content {
    @include grid-1fr-cols()
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
}

.profile-picture {
    position: relative;
    width: $profile-picture-size;
    height: $profile-picture-size;
    border-radius: 10px;
    border: 5px solid var(--color-card-background);
    background: white;
    cursor: pointer;
    overflow: hidden;
    margin-right: 1rem;
    transition: border-color 0.25s ease-in;
}

.profile-picture-upload {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGB(var(--color-text), 0.5);
    z-index: 2;
    color: var(--color-background);
}

.profile-picture > img {
    width: $profile-picture-size;
    height: $profile-picture-size;
}

.profile-info {
    max-width: 50%;
}

.profile-info > p {
    font-style: italic;
    color: darkgrey;
}

form {
    position: relative;
    width: 100%;
    gap: 1rem;
    color: rgb(var(--color-text));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}



input {
    font-size: 1.17em;
    font-weight: 200;
    margin-bottom: 1rem;
    width: 100%;
}

@media(max-width: 599px) {
    // $profile-picture-size: 250px;

    .mat-card:nth-child(1) > .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    // .profile-picture {
    //     width: $profile-picture-size;
    //     height: $profile-picture-size;
    // }

    // .profile-picture > img {
    //     width: $profile-picture-size;
    //     height: $profile-picture-size;
    // }

    .profile-info {
        width: 100%;
        max-width: 100%;
    }

    .mat-card:nth-child(2) {
        grid-column: 1 / 3;
    }

    .mat-card:nth-child(3) {
        grid-column: 1 / 3;
    }

}
