<div class="profile-container">
    <mat-card>
        <mat-card-content>
            <div class="profile-picture" (mouseenter)="mouseOverProfilePicture = true" (mouseleave)="mouseOverProfilePicture = false">
                <img [src]="imgUrl">
                <div class="profile-picture-upload" *ngIf="mouseOverProfilePicture">
                    <i class="fas fa-camera fa-5x" (click)="fileInput.click()" ></i>
                </div>
            </div>
            <div class="profile-info">
                <h1>{{profile?.username}}</h1>
                <p>{{profile?.displayname}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Configurar Perfil
        </mat-card-title>
        <br>
        <mat-card-content>
            <form [formGroup]="userForm" >
                <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                    <mat-error *ngIf="userForm.get('description').invalid">La descripción es demasiado larga.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Nombre para mostrar</mat-label>
                    <input matInput type="text" formControlName="displayname" >
                    <mat-error *ngIf="userForm.get('displayname').invalid ">
                      <mat-error *ngIf="userForm.get('displayname').errors.required">Por favor, ingrese el nombre para mostrar.</mat-error>
                      <mat-error *ngIf="userForm.get('displayname').errors.minlength">El nombre para mostrar es demasiado corto.</mat-error>
                      <mat-error *ngIf="userForm.get('displayname').errors.maxlength">El nombre para mostrar es demasiado largo.</mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
                      <mat-error *ngIf="userForm.get('email').errors.required">Por favor, ingrese un correo electrónico.</mat-error>
                      <mat-error *ngIf="userForm.get('email').errors.pattern && !userForm.get('email').errors.maxlength">Por favor, ingrese un correo electrónico válido.</mat-error>
                      <mat-error *ngIf="userForm.get('email').errors.maxlength">El correo electrónico es demasiado largo.</mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Teléfono</mat-label>
                  <input matInput type="tel" formControlName="phone" >
                  <mat-error *ngIf="userForm.get('phone').invalid">
                    <mat-error *ngIf="userForm.get('phone').errors.pattern && !userForm.get('phone').errors.maxlength">Por favor, ingrese un teléfono.</mat-error>
                    <mat-error *ngIf="userForm.get('phone').errors.maxlength">El teléfono ingresado es demasiado largo.</mat-error>
                  </mat-error>
                </mat-form-field>

                <input style="display:none" type="file" accept=".png,.jpg,.jpeg,.gif" (change)="onFileSelected($event)" #fileInput>

                <button id="done" mat-raised-button color="accent" [disabled]="userForm.invalid" (click)="done()">
                    ¡Guardar!&nbsp;
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
