<div class="game-container">
    <button *ngIf="canEditGame()"
        mat-icon-button id="edit"
        (click)="edit()"
        matTooltip="Editar juego"
        [matTooltipPosition]="'after'"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <mat-card (click)="play()">
        <mat-card-content>
            <div class="game-picture">
                <img [src]="game.type.iconSrc">
            </div>
            <h2>
                {{ game.title }}
            </h2>
            <h3>
                {{ game.description }}
            </h3>
            <h4 *ngIf="game.type.code === 'trivia'">
              {{ game.maxScore >= 0 ? 'Tu mejor puntaje: ' + game.maxScore : 'Todavía no jugaste a esta trivia' }}
            </h4>
        </mat-card-content>
    </mat-card>
</div>
