table {
    width: 100%;
}

.mat-column-modificar {
    flex: 0 0 10% !important;
    width: 10px !important;
    min-width: 100px !important;
}

.mat-column-eliminar {
    flex: 0 0 10% !important;
    width: 10px !important;
    min-width: 100px !important;
}

mat-table {
    overflow: auto;
}
    
mat-cell {
    min-width: 150px;
}

mat-header-cell {
    min-width: 150px;
}

button {
    ::ng-deep.mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

#newCompetencia {
    margin-bottom: 0.5rem;
}