<div class="compenencias-container">
    <button mat-raised-button id="newCompetencia" color="accent" (click)="agregar()"><mat-icon>add</mat-icon>&nbsp;Agregar competencia</button><br>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre de la competencia </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripcion de la compentencia </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modificar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-raised-button (click)="modificar(row)">Modificar</button> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-raised-button (click)="eliminar(row)">Eliminar</button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['nombre', 'descripcion', 'modificar', 'eliminar']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['nombre', 'descripcion', 'modificar', 'eliminar']"></mat-row>
    </mat-table>
  </div>