$image-size: 72px;

.achievement-container {
    position: fixed;
    width: 450px;
    bottom: 2.5rem;
    left: 50%;
    margin-left: -225px;
    z-index: 999;
    animation: zoom-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    .mat-card {
        position: relative;
        background-image: linear-gradient(to bottom, var(--color-primary) 50px, transparent 50px);

        button {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
        }

        .mat-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .header {
                position: relative;
                margin-bottom: 1rem;

                img {
                    width: $image-size;
                    height: $image-size;
                }

                .points {
                    position: absolute;
                    background-color: var(--color-accent);
                    font-size: 16px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    bottom: -0.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }


            h2 {
                margin-bottom: 1rem;
            }
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

h1, h2, h3 {
    font-weight: 100;
    margin: 0;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}