<div *ngIf="display" class="achievement-container" [ngClass]="{'show': display, 'hide': !display}">
    <mat-card class="mat-elevation-z8">
        <button mat-icon-button (click)="display = false"><mat-icon>clear</mat-icon></button>

        <mat-card-content>
            <div class="header">
                <img [src]="'../../../../assets/medals/' + achievement.rarity + '.png'">
                <div class="points mat-elevation-z2">{{ achievement.points }}</div>
            </div>
            <h2>{{ achievement.title }}</h2>
            <h3>{{ achievement.description }}</h3>
        </mat-card-content>
    </mat-card>
</div>
