$profile-picture-size: 200px;

@mixin flex-inline {
    display: flex;
    justify-content: flex-start;
}

@mixin grid-1fr-cols {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--color-toolbar-background);
}

.profile-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr 1fr 1fr;
}

.mat-card {
    transition: background-color 0.25s ease-in;
}

.mat-card:nth-child(1) {
    grid-column: 1 / 3;
    background-image: linear-gradient(to bottom, var(--color-primary) 35%, transparent 35%);
}

.mat-card:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background-color: var(--color-toolbar-background);
}

.mat-card:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--color-toolbar-background);
}

.mat-card:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-color: var(--color-toolbar-background);
}

.mat-card-content {
    width: 100%;
}

.mat-card:nth-child(1) > .mat-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.mat-card:nth-child(2) > .mat-card-content {
    @include grid-1fr-cols()
}
.mat-card:nth-child(3) > .mat-card-content {
  @include grid-1fr-cols()
}
.mat-card:nth-child(4) > .mat-card-content {
    @include grid-1fr-cols()
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
}

.profile-picture {
    position: relative;
    width: $profile-picture-size;
    height: $profile-picture-size;
    min-width: $profile-picture-size;
    max-width: $profile-picture-size;
    border-radius: 10px;
    border: 5px solid var(--color-card-background);
    cursor: pointer;
    overflow: hidden;
    margin-right: 1rem;
    transition: border-color 0.25s ease-in;
}

.profile-picture-upload {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGB(var(--color-text), 0.5);
    z-index: 2;
    color: var(--color-background);
}

.profile-picture > img {
    width: $profile-picture-size;
    height: $profile-picture-size;
}

.profile-info {
    max-width: 50%;
}

.profile-info > .profile-username {
  margin-bottom: 0;
}

.profile-info > .profile-displayname {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
  color:  rgba(var(--color-text), 0.75);
}

.praise{
  display: flex;
  flex-wrap: wrap;
}
.praise app-praise-buttons{
  margin-left: auto;
}
.praise p{
  font-size: 24px;
  margin: 0;
  vertical-align: center;
}

.profile-info > .profile-level {
    @include flex-inline();
}

.profile-info > .profile-achievements {
    @include flex-inline();
    text-align: center;
}

.profile-level > p:last-child {
    font-style: italic;
    color: gray;
}

.profile-level-progress {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    height: 35px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    .current-level {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        color: var(--color-accent);
    }
}

.mat-progress-bar {
    height: 100%;
}

.profile-achievements > i {
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width: 599px) {
    // $profile-picture-size: 250px;
    .profile-container{
      grid-template-rows: auto auto auto;
    }
    .mat-card:nth-child(1) > .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        grid-row: 1 / 2;
    }

    // .profile-picture {
    //     width: $profile-picture-size;
    //     height: $profile-picture-size;
    // }

    // .profile-picture > img {
    //     width: $profile-picture-size;
    //     height: $profile-picture-size;
    // }

    .profile-info {
        width: 100%;
        max-width: 100%;
    }

    .mat-card:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .mat-card:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .mat-card:nth-child(4) {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    .praise{
      flex-direction: column;
    }
}

.redirect-content {
    grid-template-columns: 50% 50% !important;
    gap: 0.25rem !important;

    $icon-size: 40px;
    .mat-icon {
        margin-top: 1rem;
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
    }
}
