<div class="profile-container">
    <mat-card>
        <mat-card-content>
            <button mat-icon-button id="edit" (click)="editProfile()"><mat-icon>edit</mat-icon></button>
            <div class="profile-picture" (mouseenter)="mouseOverProfilePicture = true" (mouseleave)="mouseOverProfilePicture = false">
                <img src="{{ imgSource }}">
                <div class="profile-picture-upload" *ngIf="mouseOverProfilePicture">
                    <i class="fas fa-camera fa-5x"></i>
                </div>
            </div>

            <div class="profile-info">
                <h1 class="profile-username">{{ user.username }}</h1>
                <p class="profile-displayname"> {{ user.displayname }}</p>
                <div class="profile-level" *ngIf="userHasLevel()">
                    <p> Nivel {{ userGetReady.nivel.nivel }} - {{ userGetReady.nivel.rango }} </p>&nbsp;&nbsp;
                    <p> {{ userGetReady.nivel.mensaje }} </p>
                </div>
                <p>Experiencia</p>
                <div class="profile-level-progress" *ngIf="userHasLevel()" matRipple>
                    <mat-progress-bar mode="determinate" [value]="levelProgressPercentage"></mat-progress-bar>
                    <div class="current-level">
                        {{ userGetReady.experiencia }} / {{ userGetReady.nivel.experiencia }}
                    </div>
                </div>

                <div class="profile-achievements">
                    <i class="fas fa-trophy fa-lg"></i>&nbsp;&nbsp;
                    <p> {{ achievementPoints }} </p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="currentUser?.roleType != 'ADMIN'">
        <mat-card-title>
            Cursos actuales
        </mat-card-title>
        <br>
        <mat-card-content>
            <ng-container *ngFor="let course of courses">
                <app-course-progress-card [course]="course"></app-course-progress-card>
            </ng-container>
            <ng-container *ngIf="courses?.length == 0">
                <label>¡Enhorabuena! No quedan cursos sin terminar</label>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="currentUser?.roleType == 'ADMIN'">
        <mat-card-title>
            Enlaces útiles
        </mat-card-title>
        <mat-card-content class="redirect-content">
            <button mat-stroked-button (click)="goToCoursesStats()"><mat-icon color="primary">school</mat-icon><p>Estadísticas cursos</p></button>
            <button mat-stroked-button (click)="goToGamesStats()"><mat-icon color="primary">videogame_asset</mat-icon><p>Estadísticas juegos</p></button>
            <button mat-stroked-button (click)="goToAppraisalStats()"><mat-icon color="primary">playlist_add_check</mat-icon><p>Estadísticas evaluaciones</p></button>
            <button mat-stroked-button (click)="goToManageSectors()"><mat-icon color="primary">language</mat-icon><p>Administrar sectores</p></button>
        </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="praise">
          <p>Reconocimientos</p> <app-praise-buttons [currentUserId]="currentUser.id" [display]="true" [counters]="true"></app-praise-buttons>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Logros recientes
        </mat-card-title>
        <br>
        <mat-card-content>
            <ng-container *ngFor="let achievement of lastAchievements">
                <app-achievement-card [achievement]="achievement"></app-achievement-card>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
